transfer_between_accounts:
  description: Contains rules to be applied on real account opening
  arguments: 
    - loginid
    - loginid_from
    - loginid_to
    - account_type_from
    - account_type_to
    - amount
    - currency
    - token_type
    - is_internal_transfer
  ruleset:
    - client.not_disabled
    - transfers.account_types_are_compatible
    - type: group
      argument_mapping:
        loginid: loginid_from
        account_type: account_type_from
        action: "'withdrawal'"
      ruleset:
        - type: conditional
          on: account_type
          rules_per_value:
            trading: &trading
              - cashier.is_not_locked
              - client.no_withdrawal_locked_status
              - client.no_withdrawal_or_trading_lock_status
              - cashier.profile_requirements
            wallet: *trading
    - type: group
      argument_mapping:
        loginid: loginid_to
        account_type: account_type_to
      ruleset:
        - type: conditional
          on: account_type
          rules_per_value:
            trading: cashier.is_not_locked
            wallet: cashier.is_not_locked
    - currency.known_currencies_allowed
    - transfers.amount_is_valid
    - type: conditional
      on: is_internal_transfer
      rules_per_value:
        1: 
          - transfers.real_to_virtual_not_allowed
          - transfers.authorized_client_should_be_real
          - transfers.same_account_not_allowed
          - transfers.wallet_accounts_not_allowed
          - transfers.client_loginid_client_from_loginid_mismatch
          - currency.known_currencies_allowed
          - transfers.same_landing_companies
          - currency.account_currency_is_legal
          - paymentagent.action_is_allowed
          - type: group
            argument_mapping:
              loginid: loginid_from
            ruleset:
              - client.not_disabled
              - client.has_currency_set
              - payment.currency_matches_account
          - type: group
            argument_mapping:
              loginid: loginid_to
            ruleset:
              - client.not_disabled
              - client.no_unwelcome_status
              - client.has_currency_set
          - transfers.no_different_fiat_currencies
          - transfers.crypto_exchange_rates_availability
          - transfers.clients_are_not_transfer_blocked

paymentagent_withdraw:
  description: Rules applied on payment agent withdraw
  arguments:
    - loginid_client
    - loginid_to
    - currency
    - amount
    - dry_run
    - source_bypass_verification
  ruleset:
    - type: group
      argument_mapping:
        loginid_from: loginid_client
        loginid_to: loginid_pa
      ruleset: transfers.same_account_not_allowed
    - type: group
      argument_mapping:
        loginid: loginid_client
      ruleset:
        - paymentagent.pa_allowed_in_landing_company
        - client.is_not_internal_client
        - trading_account.should_complete_financial_assessment # better to be renamed - it is not exclusive to trading accounts
    - type: group
      rule_group: cashier_validation
      argument_mapping:
        loginid: loginid_client
        action: "'withdrawal'"
        is_internal: "'0'"
        amount: amount
        currency: currency
    - type: group
      tag: client
      argument_mapping:
        loginid: loginid_client
      ruleset:
        - payment.currency_matches_account
    - type: group
      argument_mapping:
        loginid: loginid_pa
      tag: pa
      ruleset: 
        - paymentagent.is_authorized
        - payment.currency_matches_account
        - client.not_disabled
        - client.no_unwelcome_status
        - cashier.is_not_locked
        - client.documents_not_expired
    - type: group
      argument_mapping:
        loginid_from: loginid_client
        loginid_to: loginid_pa
      ruleset: 
        - transfers.landing_companies_are_the_same
    - type: conditional
      on: dry_run
      rules_per_value:
        0:
          - type: group
            rule_group: validate_payment
            argument_mapping:
              loginid: loginid_client
              action: "'withdrawal'"
              is_internal: "'0'"
              is_p2p_restricted: "'1'"
              amount: amount
              currency: currency
          - type: group
            rule_group: validate_payment
            argument_mapping:
              loginid: loginid_pa
              action: "'deposit'"
              is_internal: "'0'"
              is_p2p_restricted: "'1'"
              amount: amount
              currency: currency
    - paymentagent.amount_is_within_pa_limits
    - type: group
      argument_mapping:
        loginid: loginid_client
        action: "'withdraw'"
      ruleset:
        - paymentagent.daily_transfer_limits
        - client.is_not_virtual
        - paymentagent.paymentagent_withdrawal_allowed

paymentagent_transfer:
  description: A set of rules to be applied on paymentagent create
  required_arguments:
    - loginid_pa
    - loginid_client
    - currency
    - amount
  ruleset:
    - paymentagent.accounts_are_not_the_same
    - type: group
      description: an anonymous group for mapping <loginid_pa> to <loginid> for some rules.
      tag: pa
      argument_mapping:
        loginid: loginid_pa
        action: "'withdrawal'"
      ruleset:
        - paymentagent.is_authorized
        - client.is_not_virtual
        - paymentagent.pa_allowed_in_landing_company
        - cashier.profile_requirements
    - type: group
      argument_mapping:
        loginid_from: loginid_pa
        loginid_to: loginid_client
      ruleset: transfers.landing_companies_are_the_same
    - paymentagent.amount_is_within_pa_limits
    - type: group
      rule_group: validate_payment
      tag: pa
      argument_mapping:
        loginid: loginid_pa
        action: "'withdrawal'"
        is_internal: "'0'"
        is_p2p_restricted: "'1'"
        amount: amount
        currency: currency
    - type: group
      rule_group: validate_payment
      tag: client
      argument_mapping:
        loginid: loginid_client
        action: "'deposit'"
        is_internal: "'0'"
        is_p2p_restricted: "'1'"
        amount: amount
        currency: currency
    - type: group
      argument_mapping:
        loginid: loginid_pa
        action: "'transfer'"
      ruleset: paymentagent.daily_transfer_limits

cashier_validation:
  description: A temporary action for deposit and withdrawal validation. It will be removed after the enclosed rule group is integrated into all upper-level actions.
  ruleset:
  - type: group
    rule_group: cashier_validation
