<style type="text/css">
table.p2p_agent_edit td{
    padding-top:4px;
}
</style>

[% agent_name = client.p2p_agent && client.p2p_agent.name || '' %]
[% is_active = client.p2p_agent && client.p2p_agent.is_active %]
[% is_authenticated = (client.p2p_agent && client.p2p_agent.is_authenticated) %]

<form action="[% request.url_for('backoffice/f_clientloginid_edit.cgi', {loginID => client.loginid, whattodo => 'p2p.agent.update'}) %]" method="post">
    <table border="0" width="100%" id="p2p_agent_edit">
        <tr>
            <td class="label">Name : </td>
            <td>
                <input type="text" name="agent_name" value="[% agent_name %]" /> [% agent_name %]
            </td>
        </tr>
        [% IF whattodo != 'register' %]
            <tr>
                <td class="label">Authenticated : </td>
                <td>
                    <select name="authenticated">
                        <option value="1" [% is_authenticated && 'selected' %]>YES</option>
                        <option value="0" [% !is_authenticated && 'selected' %]>NO</option>
                    </select>
                    [% IF is_authenticated %]
                        <strong style="color: green">YES</strong>
                    [% ELSE %]
                        <strong style="color: red">NO</strong>
                    [% END %]
                </td>
            </tr>
            <tr>
                <td class="label">Active : </td>
                <td>
                    <select name="active">
                        <option value="1" [% is_active && 'selected' %]>YES</option>
                        <option value="0" [% !is_active && 'selected' %]>NO</option>
                    </select>
                    [% IF is_active %]
                        <strong style="color: green">YES</strong>
                    [% ELSE %]
                        <strong style="color: red">NO</strong>
                    [% END %]
                </td>
            </tr>
        [% END %]
        <tr>
            <td colspan="2"><button type="submit">Update P2P agent details</button></td>
        </tr>
    </table>
</form>
