<p><b>[% loginid %] is not registered as a P2P Advertiser yet.</b><p>

<form action="[% request.url_for('backoffice/f_clientloginid_edit.cgi', {loginID => loginid, whattodo => 'p2p.advertiser.register'}) %]" method="post">
    <div>
        <label>Name: </label>
        <input type="text" name="advertiser_name" value="" required/>
    </div>
    <br/>
    <button type="submit">Register</button>
</form>
