language: perl
dist: precise
group: deprecated-2017Q1
perl:
    - "5.14.2-thr"
matrix:
    fast_finish: true
services:
    - redis-server
cache: apt
sudo: required

notifications:
    slack:
        rooms:
            - binary-group:6t92829RicGEft1kCkpKLPj9#test-failures
        on_success: never
        on_failure: always
        on_pull_requests: false

before_install:
    - git clone ssh://git@github.com/regentmarkets/travis-scripts /tmp/travis-scripts-init
    - /tmp/travis-scripts-init/clone_branch.sh regentmarkets/travis-scripts
    - /tmp/travis-scripts/setup_ssh.sh
    - sudo mkdir -p /home/git/binary-com
    - sudo mkdir -p /home/git/regentmarkets
    - . /tmp/travis-scripts/setup_perl.sh
    - /tmp/travis-scripts/fixHostName.sh
    - sudo mkdir -p /home/git/regentmarkets /home/git/binary-com

    - /tmp/travis-scripts/parallel_clone_branch.sh
      regentmarkets/bom-test
      regentmarkets/bom
      regentmarkets/bom-postgres
      regentmarkets/bom-platform
      regentmarkets/bom-feed
      regentmarkets/bom-rpc
      regentmarkets/bom-transaction
      binary-com/translations-websockets-api
      regentmarkets/bom-market

    - /tmp/travis-scripts/redis.sh

install:
    - sudo ln -s $PWD /home/git/regentmarkets/bom-pricing
    - export RPC_CONFIG=$PWD/pricing_rpc.conf.example
    - /tmp/travis-scripts/devbox.sh

    - /tmp/travis-scripts/remove_postgresdb_config.sh
    - /tmp/travis-scripts/setup_feeddb.sh
    - /tmp/travis-scripts/setup_chronicledb.sh

    - /tmp/travis-scripts/setup_logs.sh
    - . /tmp/travis-scripts/setup_perl5lib.sh
    - sudo mkdir -p /var/log/httpd && sudo chmod 777 /var/log/httpd
script:
    - perl -e 'print "$^V\n";' ; which perl ; ls -l /etc/rmg/bin; ls -l
    - make test

after_script:
    - /tmp/travis-scripts/wait_for_ssh.sh
