language: perl
perl:
    - "5.14.2-thr"
matrix:
    fast_finish: true
cache: apt
sudo: required

before_install:
    - git clone https://d4a95fecbf54180e8fd6ad876e49b62083f3fb62@github.com/regentmarkets/travis-scripts /tmp/travis-scripts-init
    - /tmp/travis-scripts-init/clone_branch.sh regentmarkets/travis-scripts
    - /tmp/travis-scripts/setup_ssh.sh
    - sudo mkdir -p /home/git/binary-com
    - sudo mkdir -p /home/git/regentmarkets
    - . /tmp/travis-scripts/setup_perl.sh
    - /tmp/travis-scripts/fixHostName.sh
    - /tmp/travis-scripts/setup_cpan.sh
install:
    - source /tmp/travis-scripts/devbox_path.sh
    - . /tmp/travis-scripts/setup_perl5lib.sh
script:
    - perl -e 'print "$^V\n";' ; which perl ; ls -l /etc/rmg/bin
    - /etc/rmg/bin/prove -Ilib -r t/
after_script:
    - /tmp/travis-scripts/wait_for_ssh.sh
