sudo: required
dist: precise
group: deprecated-2017Q1
language: perl
perl:
    - "5.14.2-thr"
matrix:
    fast_finish: true
services:
    - redis-server
cache: apt
env:
    - TEST_SUITE=test SH=bash
    - TEST_SUITE=json_schema_1
    - TEST_SUITE=json_schema_2

notifications:
    slack:
        rooms:
            - binary-group:6t92829RicGEft1kCkpKLPj9#test-failures
        on_success: never
        on_failure: always
        on_pull_requests: false

before_install:
    - git clone ssh://git@github.com/regentmarkets/travis-scripts /tmp/travis-scripts-init
    - /tmp/travis-scripts-init/clone_branch.sh regentmarkets/travis-scripts
    - /tmp/travis-scripts/setup_ssh.sh
    - sudo mkdir -p /home/git/binary-com
    - sudo mkdir -p /home/git/regentmarkets
    - . /tmp/travis-scripts/setup_perl.sh
    - /tmp/travis-scripts/fixHostName.sh
    - sudo mkdir -p /home/git/regentmarkets /home/git/binary-com

    - /tmp/travis-scripts/parallel_clone_branch.sh
      regentmarkets/bom-test
      regentmarkets/bom
      regentmarkets/bom-platform
      regentmarkets/bom-feed
      regentmarkets/bom-populator
      regentmarkets/bom-postgres
      regentmarkets/bom-websocket-tests
      binary-com/translations-websockets-api
      regentmarkets/bom-market
      regentmarkets/php-mt5-webapi
      regentmarkets/bom-transaction
      regentmarkets/bom-pricing

    - /tmp/travis-scripts/redis.sh

install:
    - source /tmp/travis-scripts/devbox_path.sh
    - sudo ln -s $PWD /home/git/regentmarkets/bom-rpc
    - export RPC_CONFIG=$PWD/rpc.conf.travis
    - /tmp/travis-scripts/devbox.sh

    - /tmp/travis-scripts/remove_postgresdb_config.sh
    - /tmp/travis-scripts/setup_clientdb.sh
    - /tmp/travis-scripts/setup_authdb.sh
    - /tmp/travis-scripts/setup_feeddb.sh
    - /tmp/travis-scripts/setup_usersdb.sh
    - /tmp/travis-scripts/setup_chronicledb.sh

    - /tmp/travis-scripts/setup_logs.sh
    - . /tmp/travis-scripts/setup_perl5lib.sh
    - /tmp/travis-scripts/setup_postfix.sh
    - sudo mkdir -p /var/log/httpd && sudo chmod 777 /var/log/httpd
    - export RPC_CONFIG=/home/git/regentmarkets/bom-pricing/pricing_rpc.conf.example
    - /etc/rmg/bin/perl /home/git/regentmarkets/bom-pricing/bin/binary_pricing_rpc.pl  daemon -m production -l http://*:5006/jsonrpc  &
script:
    - /etc/rmg/bin/perl -e 'print "$^V\n";' ; which perl ; ls -l /etc/rmg/bin
    - if [ "$TEST_SUITE" == "" ]  ; then true; else make $TEST_SUITE; fi

after_script:
    - /tmp/travis-scripts/wait_for_ssh.sh
