language: perl
sudo: required
dist: precise
matrix:
    fast_finish: true
addons:
    postgresql: "9.3"
services:
    - redis-server
cache: apt
before_install:
    - git clone ssh://git@github.com/regentmarkets/travis-scripts /tmp/travis-scripts-init
    - /tmp/travis-scripts-init/clone_branch.sh regentmarkets/travis-scripts
    - sudo mkdir -p /home/git/binary-com
    - sudo mkdir -p /home/git/regentmarkets
    - . /tmp/travis-scripts/setup_perl.sh
    - /tmp/travis-scripts/setup_ssh.sh

    - export PATH=/home/git/regentmarkets/cpan/local/bin:$PATH
    - /tmp/travis-scripts/fixHostName.sh
    - /tmp/travis-scripts/setup_cpan.sh

install:
    - /tmp/travis-scripts/devbox.sh
    - .  /tmp/travis-scripts/setup_perl5lib.sh

script:
    - perl -e 'print "$^V\n";' ; which perl ; ls -l /etc/rmg/bin
    - /etc/rmg/bin/prove --timer -lr --exec 'perl -MTest::FailWarnings=-allow_deps,1'  t/

after_script:
    - /tmp/travis-scripts/wait_for_ssh.sh
