language: perl
perl:
    - "5.14.2"
addons:
    postgresql: "9.3"
services:
    - redis-server
cache: apt
before_install:
    - git clone https://60d764d753f8b0b231f5a4ee566d3eeaf5024cdc@github.com/regentmarkets/travis-scripts /tmp/travis-scripts
    - /tmp/travis-scripts/setup_ssh.sh
    - export PATH=/home/git/regentmarkets/cpan/local/bin:$PATH
    - /tmp/travis-scripts/fixHostName.sh
    - /tmp/travis-scripts/postgres.sh
    - sudo mkdir -p /home/git/regentmarkets /home/git/binary-com

    - /tmp/travis-scripts/clone_branch.sh regentmarkets/cpan
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-test
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-utility
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-platform
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-postgres
    - /tmp/travis-scripts/clone_branch.sh binary-com/binary-static gh-pages
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-market

    - /tmp/travis-scripts/redis.sh
    - /tmp/travis-scripts/setup_logs.sh

install:
    - export OAUTH_CONFIG=$PWD/oauth.conf.travis
    - source /tmp/travis-scripts/devbox_path.sh
    - /tmp/travis-scripts/devbox.sh *.yml

    - /tmp/travis-scripts/remove_postgresdb_config.sh
    - /tmp/travis-scripts/setup_clientdb.sh
    - /tmp/travis-scripts/setup_feeddb.sh
    - /tmp/travis-scripts/setup_authdb.sh
    - /tmp/travis-scripts/setup_usersdb.sh
    - . /tmp/travis-scripts/setup_perl5lib.sh

script:
    - prove -lr t/BOM/
