language: perl
perl:
    - "5.14.2-thr"
matrix:
    fast_finish: true
addons:
    postgresql: "9.3"
services:
    - redis-server
cache: apt
before_install:
    - git clone https://1994c85ce4f602fb682076e9a102261644fb3d19@github.com/regentmarkets/travis-scripts /tmp/travis-scripts
    - /tmp/travis-scripts/setup_ssh.sh
    - git clone git://github.com/binary-com/helpers ~/travis-perl-helpers
    - AUTHOR_TESTING=0 source ~/travis-perl-helpers/init
    - PREBUILT_REPO="git@github.com:binary-com/test-perl.git" build-perl
    - sudo mkdir -p /etc/rmg; sudo ln -s $(dirname $(which perl)) /etc/rmg/bin
    - /tmp/travis-scripts/fixHostName.sh
    - /tmp/travis-scripts/postgres.sh
    - sudo mkdir -p /home/git/regentmarkets /home/git/binary-com

    - /tmp/travis-scripts/clone_branch.sh regentmarkets/cpan
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-test
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-platform
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-feed
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-populator
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-postgres
    - /tmp/travis-scripts/clone_branch.sh binary-com/translations-websockets-api
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-market
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/php-mt5-webapi

    - /tmp/travis-scripts/redis.sh

install:
    - sudo ln -s $PWD /home/git/regentmarkets/bom-rpc
    - export RPC_CONFIG=$PWD/rpc.conf.travis
    - /tmp/travis-scripts/devbox.sh

    - /tmp/travis-scripts/remove_postgresdb_config.sh
    - /tmp/travis-scripts/setup_clientdb.sh
    - /tmp/travis-scripts/setup_authdb.sh
    - /tmp/travis-scripts/setup_feeddb.sh
    - /tmp/travis-scripts/setup_usersdb.sh
    - /tmp/travis-scripts/setup_chronicledb.sh

    - /tmp/travis-scripts/setup_logs.sh
    - . /tmp/travis-scripts/setup_perl5lib.sh
    - /tmp/travis-scripts/setup_postfix.sh
    - sudo mkdir -p /var/log/httpd && sudo chmod 777 /var/log/httpd
script:
    - /etc/rmg/bin/prove --timer -lr --exec 'perl -It/lib -MTest::FailWarnings=-allow_deps,1 -MBOM::Test'  t/

after_script:
    - /tmp/travis-scripts/wait_for_ssh.sh
