language: perl
perl:
    - "5.14.2-thr"
matrix:
    fast_finish: true
addons:
    postgresql: "9.3"
services:
    - redis-server
cache: apt
sudo: required


env:
    matrix:
        - TEST_SUITE=v3_1
        - TEST_SUITE=v3_2
        - TEST_SUITE=v3_3
        - TEST_SUITE=structure
        - TEST_SUITE=leaktest
        - TEST_SUITE=json_schema_1
        - TEST_SUITE=json_schema_2
        - TEST_SUITE=json_schema_3
        - TEST_SUITE=json_schema_4
    global:
        - SH=bash
        - secure: "PVLFC2gYVgnJT45GYcg1fvaCuij9P85sr0h+NZ/CCO9eCqpscBx1NQIGnUa5LgeFIKTr2xJGQ8f/Q4ydkrq1bNkGWvvhtNXBZiK15R7qX3XnyCSOrhmpHsNC/zYmRvl/7tpkR0LAscDGCckUjXjVy6rl1ihgI6QvQTMigS+fNWJaW8zkW10ZV7KAYodOLRRlrFYURZ6FNwNzI3kSXacUhNITs/WsYTMYsOVmagXfRExdUaL8PWMfqXssHGEvsT2IHwk2tWhHujDNdqBPIoyUEQZSIRhq39qJKERukpc1UQEmhCx+P1biYl1ShOY5KHWoFluPdwlAfN1WqeeYQF4jxKpVh5d71paE6K5oBKMsjkcLG3gusJs8y827Iyn3XVaG4WF/3yX63HnpwyIqmUeZvtU28n996zkMYMRSMYLqWnO+5LMIBRxLTDZrNwFHoUZnrRY0GOgba4ERLTk8iblcrW3dYqKkPzFAwMFJfrst12+sLSwa3TvO7IFjnqaCoEuP4l21SrWgzUlf55x+lPsT1JsCV1u1ufZu6uuIBahgiBQrk/c1xKlM019Bc3+TBTP90wEafHr6pKNb4rOQpdyTddFubNFnpQV2WhHxoeuG/Hv32Aiwz/PlsOlr2t9B4a3g1a8UexF8gnHGLCSxVJdiFvbR1RdlkJtbdo3Pf/3Ud+8="

before_install:
    - git clone https://1994c85ce4f602fb682076e9a102261644fb3d19@github.com/regentmarkets/travis-scripts /tmp/travis-scripts-init
    - /tmp/travis-scripts-init/clone_branch.sh regentmarkets/travis-scripts
    - sudo mkdir -p /home/git/binary-com
    - sudo mkdir -p /home/git/regentmarkets
    - . /tmp/travis-scripts/setup_perl.sh
    - /tmp/travis-scripts/setup_ssh.sh
    - /tmp/travis-scripts/websocket_schema_update.sh

    - export PATH=/home/git/regentmarkets/cpan/local/bin:$PATH
    - /tmp/travis-scripts/fixHostName.sh
    - /tmp/travis-scripts/postgres.sh
    - sudo mkdir -p /home/git/regentmarkets /home/git/binary-com

    - /tmp/travis-scripts/setup_cpan.sh
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-test
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-websocket-tests
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-platform
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-feed
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-populator
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-rpc
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-postgres
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-market
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/php-mt5-webapi
    - /tmp/travis-scripts/clone_branch.sh binary-com/translations-websockets-api
    - /tmp/travis-scripts/clone_branch.sh binary-com/websocket-bench
    - /tmp/travis-scripts/redis.sh

install:
    - sudo ln -s $PWD /home/git/regentmarkets/binary-websocket-api
    - export WEBSOCKET_CONFIG=$PWD/websocket.conf.travis RPC_CONFIG=/home/git/regentmarkets/bom-rpc/rpc.conf.travis
    - /tmp/travis-scripts/devbox.sh

    - /tmp/travis-scripts/remove_postgresdb_config.sh
    - /tmp/travis-scripts/setup_clientdb.sh
    - /tmp/travis-scripts/setup_authdb.sh
    - /tmp/travis-scripts/setup_feeddb.sh
    - /tmp/travis-scripts/setup_usersdb.sh
    - /tmp/travis-scripts/setup_chronicledb.sh
    - /tmp/travis-scripts/setup_postfix.sh
    - /tmp/travis-scripts/setup_logs.sh
    - .  /tmp/travis-scripts/setup_perl5lib.sh
    - sudo mkdir -p /var/log/httpd && sudo chmod 777 /var/log/httpd
    - sudo cp /home/git/regentmarkets/bom-test/data/config/ws-redis.yml /etc/rmg
    - perl /home/git/regentmarkets/bom-platform/bin/notify_pub.pl 2>&1 | grep -Ev '(connection has been closed unexpectedly)|(terminating connection due to administrator)' &
    - perl /home/git/regentmarkets/bom-rpc/bin/binary_rpc.pl  daemon -m production -l http://*:5005/jsonrpc  &

before_script:
    - /tmp/travis-scripts/wait_for_rpc.sh
    - perl -le 'print $^V'; which perl; ls -l /etc/rmg/bin

script:
    - make $TEST_SUITE

after_script:
    - /tmp/travis-scripts/wait_for_ssh.sh
