language: perl
perl:
    - "5.14.2-thr"
matrix:
    fast_finish: true
env:
    - TEST_SUITE=unit_test_platform_client
    - TEST_SUITE=unit_test_platform_all
    - TEST_SUITE=unit_test_system
    - TEST_SUITE=leaktest
    - TEST_SUITE=syntax_lib
services:
    - redis-server
addons:
    postgresql: "9.4"
cache: apt
before_install:
    - git clone https://1994c85ce4f602fb682076e9a102261644fb3d19@github.com/regentmarkets/travis-scripts /tmp/travis-scripts-init
    - /tmp/travis-scripts-init/clone_branch.sh regentmarkets/travis-scripts
    - /tmp/travis-scripts/setup_ssh.sh
    - sudo mkdir -p /home/git/binary-com
    - sudo mkdir -p /home/git/regentmarkets
    - . /tmp/travis-scripts/setup_perl.sh
    - /tmp/travis-scripts/fixHostName.sh
    - /tmp/travis-scripts/postgres.sh

    - /tmp/travis-scripts/setup_cpan.sh
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-test
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-postgres
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-market
    - /tmp/travis-scripts/clone_branch.sh binary-com/translations-websockets-api

    - /tmp/travis-scripts/postgres_restart.sh
    - /tmp/travis-scripts/redis.sh
    - sudo mkdir -p /etc/rmg/
    - sudo touch /etc/rmg/version
    - sudo chown $(id -u) /etc/rmg/version

install:
    - source /tmp/travis-scripts/devbox_path.sh
    - sudo ln -s $PWD /home/git/regentmarkets/bom-platform
    - /tmp/travis-scripts/devbox.sh *.yml

    - /tmp/travis-scripts/remove_postgresdb_config.sh
    - /tmp/travis-scripts/setup_clientdb.sh
    - /tmp/travis-scripts/setup_feeddb.sh
    - /tmp/travis-scripts/setup_authdb.sh
    - /tmp/travis-scripts/setup_usersdb.sh
    - /tmp/travis-scripts/setup_chronicledb.sh

    - /tmp/travis-scripts/setup_logs.sh
    - . /tmp/travis-scripts/setup_perl5lib.sh

script:
    - perl -e 'print "$^V\n";' ; which perl ; ls -l /etc/rmg/bin
    - make $TEST_SUITE
    - sudo service binary_pgbouncer status

after_script:
    - /tmp/travis-scripts/wait_for_ssh.sh
