language: perl
perl:
    - "5.14.2"
env:
    - TEST_SUITE=unit_test_product_contract
    - TEST_SUITE=unit_test_product_contract_extended
    - TEST_SUITE=unit_test_product_all
    - TEST_SUITE=unit_test_validation
    - TEST_SUITE=unit_test_pricing
    - TEST_SUITE=unit_test_intraday

services:
    - redis-server
addons:
    postgresql: "9.3"
cache: apt
before_install:
    # - git clone https://60d764d753f8b0b231f5a4ee566d3eeaf5024cdc@github.com/regentmarkets/travis-scripts /tmp/travis-scripts
    - git clone https://60d764d753f8b0b231f5a4ee566d3eeaf5024cdc@github.com/evostrov/travis-scripts /tmp/travis-scripts
    - (cd /tmp/travis-scripts && git checkout evgeniy/separate_redis_test_db)
    - /tmp/travis-scripts/fixHostName.sh
    - dpkg -l | grep postgres
    - pg_lsclusters
    - /tmp/travis-scripts/postgres.sh
    - sudo mkdir -p /home/git/binary-com
    - sudo mkdir -p /home/git/regentmarkets

    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-test
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/cpan
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-utility
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-platform
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-postgres
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-web
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-app
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-market
    - /tmp/travis-scripts/clone_branch.sh binary-com/binary-static gh-pages

    - /tmp/travis-scripts/postgres_restart.sh
    - /tmp/travis-scripts/redis.sh

install:
    - source /tmp/travis-scripts/devbox_path.sh
    - sudo ln -s $PWD /home/git/regentmarkets/bom
    - /tmp/travis-scripts/devbox.sh *.yml

    - /tmp/travis-scripts/remove_postgresdb_config.sh
    - /tmp/travis-scripts/setup_clientdb.sh
    - /tmp/travis-scripts/setup_feeddb.sh
    - /tmp/travis-scripts/setup_authdb.sh
    - /tmp/travis-scripts/setup_usersdb.sh
    - /tmp/travis-scripts/setup_chronicledb.sh

    - /tmp/travis-scripts/setup_logs.sh
    - . /tmp/travis-scripts/setup_perl5lib.sh

script:
    - make $TEST_SUITE; RC=$?; sudo service binary_pgbouncer status; exit $RC
