sudo: required
dist: precise
group: deprecated-2017Q1
language: perl
matrix:
    fast_finish: true
perl:
    - "5.14.2-thr"
env:
    - TEST_SUITE=merlin_benchmark
    - TEST_SUITE=SDFX_benchmark_major
    - TEST_SUITE=SDFX_benchmark_minor
    - TEST_SUITE=SDEQ_benchmark_DJI
    - TEST_SUITE=SDEQ_benchmark_FCHI
    - TEST_SUITE=SDEQ_benchmark_SPC
    - TEST_SUITE=SDEQ_benchmark_N225
    - TEST_SUITE=SDEQ_benchmark_SSECOMP
    - TEST_SUITE=SDEQ_benchmark_FTSE
    - TEST_SUITE=OVRA_benchmark
services:
    - redis-server
addons:
    postgresql: "9.3"
cache: apt
before_install:
    - git clone ssh://git@github.com/regentmarkets/travis-scripts /tmp/travis-scripts-init
    - /tmp/travis-scripts-init/clone_branch.sh regentmarkets/travis-scripts
    - /tmp/travis-scripts/setup_ssh.sh
    - sudo mkdir -p /home/git/binary-com
    - sudo mkdir -p /home/git/regentmarkets
    - . /tmp/travis-scripts/setup_perl.sh
    - /tmp/travis-scripts/fixHostName.sh
    - dpkg -l | grep postgres
    - pg_lsclusters
    - sudo mkdir -p /home/git/binary-com
    - sudo mkdir -p /home/git/regentmarkets

    - /tmp/travis-scripts/parallel_clone_branch.sh
      regentmarkets/bom-test
      regentmarkets/bom
      regentmarkets/bom-postgres
      regentmarkets/bom-platform
      regentmarkets/bom-market
      binary-com/translations-websockets-api

    - /tmp/travis-scripts/postgres_restart.sh
    - /tmp/travis-scripts/redis.sh
install:
    - source /tmp/travis-scripts/devbox_path.sh
    - /tmp/travis-scripts/devbox.sh *.yml
    - sudo ln -s /home/travis/build/regentmarkets/bom-quant-benchmark /home/git/regentmarkets/bom-quant-benchmark
    - /tmp/travis-scripts/setup_clientdb.sh
    - /tmp/travis-scripts/setup_feeddb.sh
    - /tmp/travis-scripts/setup_chronicledb.sh
    - . /tmp/travis-scripts/setup_perl5lib.sh
script:
    - perl -e 'print "$^V\n";' ; which perl ; ls -l /etc/rmg/bin
    - make $TEST_SUITE
after_script:
    - /tmp/travis-scripts/wait_for_ssh.sh
