sudo: required
dist: precise
group: deprecated-2017Q1
language: perl
perl:
    - "5.14.2-thr"
matrix:
    fast_finish: true
env:
    - TEST_SUITE=unit_test_product_contract
    - TEST_SUITE=unit_test_product_contract_extended
    - TEST_SUITE=unit_test_product_all
    - TEST_SUITE=unit_test_validation
    - TEST_SUITE=unit_test_pricing
    - TEST_SUITE=unit_test_intraday
    - TEST_SUITE=merlin_benchmark
    - TEST_SUITE=SDFX_benchmark_major
    - TEST_SUITE=SDFX_benchmark_minor
    - TEST_SUITE=SDEQ_benchmark_DJI
    - TEST_SUITE=SDEQ_benchmark_FCHI
    - TEST_SUITE=SDEQ_benchmark_SPC
    - TEST_SUITE=SDEQ_benchmark_N225
    - TEST_SUITE=SDEQ_benchmark_SSECOMP
    - TEST_SUITE=SDEQ_benchmark_FTSE
    - TEST_SUITE=OVRA_benchmark

notifications:
    slack:
        rooms:
            - binary-group:6t92829RicGEft1kCkpKLPj9#test-failures
        on_success: never
        on_failure: always
        on_pull_requests: false

services:
    - redis-server
cache: apt
before_install:
    - git clone ssh://git@github.com/regentmarkets/travis-scripts /tmp/travis-scripts-init
    - /tmp/travis-scripts-init/clone_branch.sh regentmarkets/travis-scripts
    - /tmp/travis-scripts/setup_ssh.sh
    - sudo mkdir -p /home/git/binary-com
    - sudo mkdir -p /home/git/regentmarkets
    - . /tmp/travis-scripts/setup_perl.sh
    - /tmp/travis-scripts/fixHostName.sh

    - /tmp/travis-scripts/parallel_clone_branch.sh
      regentmarkets/bom-test
      regentmarkets/bom-platform
      regentmarkets/bom-postgres
      regentmarkets/bom-market
      regentmarkets/bom-quant-benchmark
      binary-com/translations-websockets-api

    - /tmp/travis-scripts/postgres_restart.sh
    - /tmp/travis-scripts/redis.sh

install:
    - source /tmp/travis-scripts/devbox_path.sh
    - sudo ln -s $PWD /home/git/regentmarkets/bom
    - /tmp/travis-scripts/devbox.sh *.yml

    - /tmp/travis-scripts/remove_postgresdb_config.sh
    - /tmp/travis-scripts/setup_feeddb.sh
    - /tmp/travis-scripts/setup_chronicledb.sh

    - /tmp/travis-scripts/setup_logs.sh
    - . /tmp/travis-scripts/setup_perl5lib.sh

script:
    - perl -e 'print "$^V\n";' ; which perl ; ls -l /etc/rmg/bin
    - if [[ $TEST_SUITE == *"benchmark"* ]]; then ( cd /home/git/regentmarkets/bom-quant-benchmark && make $TEST_SUITE ); else make $TEST_SUITE; fi

after_script:
    - /tmp/travis-scripts/wait_for_ssh.sh
