language: perl
matrix:
    fast_finish: true
cache: apt
sudo: required

before_install:
    - git clone ssh://git@github.com/regentmarkets/travis-scripts /tmp/travis-scripts-init
    - /tmp/travis-scripts-init/clone_branch.sh regentmarkets/travis-scripts
    - /tmp/travis-scripts/setup_ssh.sh
    - sudo mkdir -p /home/git/binary-com
    - sudo mkdir -p /home/git/regentmarkets
    - . /tmp/travis-scripts/setup_perl.sh
    - /tmp/travis-scripts/fixHostName.sh
    - /tmp/travis-scripts/setup_cpan.sh
install:
    - source /tmp/travis-scripts/devbox_path.sh
    - . /tmp/travis-scripts/setup_perl5lib.sh
script:
    - perl -e 'print "$^V\n";' ; which perl ; ls -l /etc/rmg/bin
    - prove t/001_autosyntax.t
after_script:
    - /tmp/travis-scripts/wait_for_ssh.sh
