language: perl
perl:
    - "5.14.2"
env:
    - TEST_SUITE=unit_test_database_datamapper
    - TEST_SUITE=unit_test_database_model
    - TEST_SUITE=unit_test_database_all
services:
    - redis-server
addons:
    postgresql: "9.3"
cache: apt
before_install:
    - git clone https://60d764d753f8b0b231f5a4ee566d3eeaf5024cdc@github.com/teo-binary/travis-scripts /tmp/travis-scripts
    - dpkg -l | grep postgres
    - pg_lsclusters
    - /tmp/travis-scripts/fixHostName.sh
    - /tmp/travis-scripts/postgres.sh
    - sudo mkdir -p /home/git/binary-com
    - sudo mkdir -p /home/git/regentmarkets
    - sudo cp -a $HOME/build/regentmarkets/bom-postgres /home/git/regentmarkets/

    - /tmp/travis-scripts/couchdb.sh

    - /tmp/travis-scripts/clone_branch.sh regentmarkets/cpan
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-test
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-utility
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-platform
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-market
    - /tmp/travis-scripts/clone_branch.sh binary-com/binary-static gh-pages

    - /tmp/travis-scripts/postgres_restart.sh
    - /tmp/travis-scripts/redis.sh


install:
    - sudo ln -s $PWD /home/git/regentmarkets/bom-postgres
    - source /tmp/travis-scripts/devbox_path.sh
    - /tmp/travis-scripts/devbox.sh *.yml

    - /tmp/travis-scripts/remove_postgresdb_config.sh
    - /tmp/travis-scripts/setup_clientdb.sh
    - /tmp/travis-scripts/setup_feeddb.sh
    - /tmp/travis-scripts/setup_authdb.sh
    - netstat -natp |grep LISTEN
    - /tmp/travis-scripts/setup_usersdb.sh
    - /tmp/travis-scripts/setup_chronicledb.sh

    - /tmp/travis-scripts/setup_logs.sh
    - . /tmp/travis-scripts/setup_perl5lib.sh

script:
    - make $TEST_SUITE; RC=$?; sudo service binary_pgbouncer status; exit $RC
