sudo: required
dist: precise
group: deprecated-2017Q1
language: perl
perl:
    - "5.14.2-thr"
matrix:
    fast_finish: true
addons:
    postgresql: "9.3"

notifications:
    slack:
        rooms:
            - binary-group:6t92829RicGEft1kCkpKLPj9#test-failures
        on_success: never
        on_failure: always
        on_pull_requests: false

services:
    - redis-server
cache: apt
before_install:
    - git clone ssh://git@github.com/regentmarkets/travis-scripts /tmp/travis-scripts-init
    - /tmp/travis-scripts-init/clone_branch.sh regentmarkets/travis-scripts
    - /tmp/travis-scripts/setup_ssh.sh
    - sudo mkdir -p /home/git/binary-com
    - sudo mkdir -p /home/git/regentmarkets
    - . /tmp/travis-scripts/setup_perl.sh
    - export PATH=/home/git/regentmarkets/cpan/local/bin:$PATH
    - sudo ifconfig lo:1 172.28.128.3
    - sudo mkdir -p /home/git/regentmarkets
    - sudo mkdir -p /home/git
    - sudo rm -f /tmp/unittest_*

    - /tmp/travis-scripts/parallel_clone_branch.sh
      regentmarkets/bom-test
      regentmarkets/bom
      regentmarkets/bom-platform
      regentmarkets/bom-postgres
    - /tmp/travis-scripts/redis.sh

install:
    - /tmp/travis-scripts/devbox.sh
    - source /tmp/travis-scripts/devbox_path.sh

    - /tmp/travis-scripts/remove_postgresdb_config.sh
    - /tmp/travis-scripts/setup_clientdb.sh
    - /tmp/travis-scripts/setup_feeddb.sh
    - /tmp/travis-scripts/setup_authdb.sh
    - /tmp/travis-scripts/setup_usersdb.sh
    - /tmp/travis-scripts/setup_chronicledb.sh

    - export PAYMENTAPI_LOG_FILE=/tmp/paymentapi.log
    - . /tmp/travis-scripts/setup_perl5lib.sh

script:
    - perl -e 'print "$^V\n";' ; which perl ; ls -l /etc/rmg/bin
    - make test && cover -test -report coveralls

after_script:
    - /tmp/travis-scripts/wait_for_ssh.sh
