language: perl
perl:
    - "5.14.2-thr"
matrix:
    fast_finish: true
addons:
    postgresql: "9.3"
services:
    - redis-server
cache: apt
before_install:
    - git clone https://1994c85ce4f602fb682076e9a102261644fb3d19@github.com/regentmarkets/travis-scripts /tmp/travis-scripts
    - sudo mkdir -p /home/git/binary-com
    - sudo mkdir -p /home/git/regentmarkets
    - . /tmp/travis-scripts/setup_perl.sh
    - /tmp/travis-scripts/setup_ssh.sh

    - export PATH=/home/git/regentmarkets/cpan/local/bin:$PATH
    - /tmp/travis-scripts/fixHostName.sh
    - /tmp/travis-scripts/postgres.sh
    - sudo mkdir -p /home/git/regentmarkets /home/git/binary-com

    - /tmp/travis-scripts/setup_cpan.sh
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-test
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom
    - /tmp/travis-scripts/clone_branch.sh regentmarkets/bom-platform

install:
    - /tmp/travis-scripts/devbox.sh
    - .  /tmp/travis-scripts/setup_perl5lib.sh

script:
    - perl -e 'print "$^V\n";' ; which perl ; ls -l /etc/rmg/bin
    - /etc/rmg/bin/prove --timer -lr --exec 'perl -MTest::FailWarnings=-allow_deps,1 -MBOM::Test'  t/

after_script:
    - /tmp/travis-scripts/wait_for_ssh.sh
