# This application expects file like that at /etc/rmg directory
app->log(Mojo::Log->new(
    level => 'info',
    path  => '/var/log/httpd/binary-websocket-api_trace.log'
));
app->renderer->default_format('json');

{
    hypnotoad => {
        listen   => ["http://*:5004"],
        workers  => 1,            # Number of worker processes
        clients  => 2,            # Maximum number of concurrent connections each worker process is allowed to handle
        pid_file => '/var/run/bom-daemon/binary-websocket-api.pid',
        user     => 'nobody',
        group    => 'nogroup',
        inactivity_timeout => 60, # Maximum amount of time in seconds a connection can be inactive before getting closed
        heartbeat_timeout => 120, # Maximum amount of time in seconds before a worker without a heartbeat will be stopped gracefully
        graceful_timeout => 15,   # Maximum amount of time in seconds stopping a worker gracefully may take before being forced
        accepts => 3600,          # Maximum number of connections a worker is allowed to accept before stopping gracefully, 0 - indefinitely
    },
    rpc_url => "http://127.0.0.1:5005/",
    rpc_queue_response_timeout => 5,
    rpc_queue_ignore_separations => "",
    default_backend => "rpc_redis",
};
