<form action="[% controller_url %]" method="POST">
    <label>Select currency: </label>
    <select onchange="this.form.submit()" name="currency">
      [% FOREACH currency IN currency_options %]
      <option value="[% currency %]" [% 'SELECTED' IF currency == currency_selected %]>
        [% currency %]
      </option>

      [% END %]
    </select>
</form>
<br>
