---
commodities:
    risk_profile: 'high_risk'
    base_commission: 0.05
    display_current_spot: 1
    volatility_surface_type: "delta"
    suspicious_move: 0.05
    display_name: "Commodities"
    display_order: 4
    eod_blackout_expiry: '59s'
    sod_blackout_start: '10m'
    reduced_display_decimals: 1
    asset_type: 'currency'
    absolute_barrier_multiplier: 1
    explanation: 'Commodities are traded items with directly usable qualities.'
    license: "realtime"
    providers:
        - 'idata'
        - 'panda'
        - 'sd'
    intradays_must_be_same_day: 1
    markups:
        apply_traded_markets_markup: 1
forex:
    risk_profile: 'medium_risk'
    base_commission: 0.05
    volatility_surface_type: "delta"
    display_current_spot: 1
    suspicious_move: 0.05
    deep_otm_threshold: 0.05
    display_name: "Forex"
    display_order: 1
    reduced_display_decimals: 1
    asset_type: 'currency'
    foreign_bs_probability: 1
    absolute_barrier_multiplier: 1
    explanation: 'Forex (or foreign exchange) represents the ratio between the values of two currencies.'
    license: "realtime"
    providers:
        - 'idata'
        - 'panda'
        - 'olsen'
    markups:
        apply_traded_markets_markup: 1
        apply_butterfly_markup: 1
futures:
    suspicious_move: 0.07
    display_name: "Futures"
    eod_blackout_expiry: '59s'
    sod_blackout_start: '10m'
    equity: 1
    license: "daily"
    providers:
        - 'idata'
    intradays_must_be_same_day: 1
    markups:
        apply_traded_markets_markup: 1
indices:
    risk_profile: 'medium_risk'
    base_commission: 0.025
    volatility_surface_type: "moneyness"
    suspicious_move: 0.07
    display_name: "Indices"
    integer_barrier: 1
    display_order: 2
    eod_blackout_expiry: '1m'
    eod_blackout_start: '15m'
    sod_blackout_start: '10m'
    intradays_must_be_same_day: 1
    asset_type: 'index'
    equity: 1
    explanation: 'Indices represent the weighted value of a basket of companies, typically traded on the same exchange.'
    license: "daily"
    official_ohlc: 1
    providers:
        - 'idata'
        - 'telekurs'
    markups:
        apply_traded_markets_markup: 1
stocks:
    risk_profile: 'extreme_risk'
    base_commission: 0.05
    suspicious_move: 0.25
    display_name: "OTC Stocks"
    volatility_surface_type: "moneyness"
    eod_blackout_expiry: '1m'
    eod_blackout_start: '1h'
    sod_blackout_start: '10m'
    display_order: 3
    absolute_barrier_multiplier: 1
    prefer_discrete_dividend: 1
    affected_by_corporate_actions: 1
    equity: 1
    explanation: 'Stocks (or shares) represent the value of partial ownership in a single company.'
    license: "daily"
    official_ohlc: 1
    providers:
        - 'idata'
        - 'telekurs'
        - 'panda'
    intradays_must_be_same_day: 1
    markups:
        apply_traded_markets_markup: 1
volidx:
    risk_profile: 'low_risk'
    base_commission: 0.015
    display_current_spot: 1
    suspicious_move: 0.5
    display_name: "Volatility Indices"
    volatility_surface_type: "flat"
    deep_otm_threshold: 0.025
    display_order: 5
    asset_type: 'synthetic'
    generation_interval: '2s'
    reduced_display_decimals: 1
    absolute_barrier_multiplier: 1
    explanation: 'The volatility indices simulate various real market situations and provide an ideal platform for getting used to trading and testing strategies under various market conditions.'
    license: "realtime"
    providers:
        - 'random'
    markups: {}
synthetic:
    volatility_surface_type: "flat"
    suspicious_move: 0.07
    display_name: "Synthetic"
    intradays_must_be_same_day: 1
    asset_type: 'index'
    equity: 1
    explanation: 'Synthetic represents the empirical simulation of cash index from futures.'
    license: "realtime"
    providers:
        - 'synthetic'
#This is just a fake market to default to when market is not found.
config:
    license: "realtime"
