body {margin: 0; background-color: white; color: black;}
button, input {padding: 0; margin: 0; border: 0;}
input:focus, bottun:focus, button, a:focus {outline: none;}
a:hover {text-decoration: underline;}
p {line-height: 1.4em;}

.clear {clear: both;}
.err {color: #c03; border-color: #c03;}
.errorfield {font-style: italic; color: #c03; margin-top: 8px; text-align: center; font-size: 93%;}

#wrapper {max-width: 300px; width: 100%; margin: 0 auto;}
#wrapper.login {margin-top: 150px; max-width: 360px;}
@media screen and (max-width: 767px) {
    #wrapper.login {margin-top: 50px;}
    #frmLogin {margin: 0 15px;}
}
#main-header {text-align: center; margin: 20px 0;}
#main-header #logo {width:100%; max-width: 250px;}
.login #main-header #logo {margin: 0 auto;}

form input, form button {
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    margin-bottom: 2%;
    text-align: center;
}
form input {background: white; padding: 2px 3px;}

::-webkit-input-placeholder {font-style: italic; color: #888;}
:-moz-placeholder {font-style: italic; color: #888;}
::-moz-placeholder {font-style: italic; color: #888;}
:-ms-input-placeholder {font-style: italic; color: #888;}

#wrapper.login #btnLogin {margin-top: 15px;}

/* Scope Confirmation */
#wrapper.scope-confirms {width: 95%; max-width: 480px;}
.separator-line {border-bottom: 1px solid #dedede; margin: 5px 0;}
.scopes {background-color: #f2f2f2; padding: 5px; margin-bottom: 0.5em;}
.bullet li {color: #e98024; list-style-type: circle; line-height: 1.8em;}
.bullet li span {color: black;}
.button2, .button2:hover {background: white; border: 1px solid #c2c2c2; color: black !important}
.scope-confirms .button {width: 49%; float: left; margin-bottom: 0.2em;}
.scope-confirms .button2 {margin-left: 2%;}
@media screen and (max-width: 400px) {
    .scope-confirms .button {width: 100%; float: none; margin-left: 0;}
}

/* Binary.com login */
#topbar-binary {height: 26px; background: #15212d;}
#header-binary {height: 55px; background: #2a3052; border-bottom: 4px solid #e98024; border-top: 2px solid #394171; text-align: center; padding: 10px 0; margin-bottom: 40px;}
#header-binary a {margin: 0 auto; vertical-align: middle; display: inline-block; width: 220px;}
#header-binary #symbol-logo {vertical-align: middle; height: 55px;}
#header-binary #type-logo {vertical-align: middle; height: 37px; margin-left: 6px;}
#container-binary {margin: 0 auto; max-width: 480px;}
#container-binary #wrapper.login {margin-top: 0px; max-width: 300px;}
#container-binary fieldset {border: 1px solid #f2f2f2; padding: 15px 5px;}
#container-binary fieldset legend {color: #444; padding: 0 .8em; font-weight: 700;}
#container-binary p.links {text-align: center; margin-top: 40px;}
#container-binary p.links a {display: inline-block; font-weight: 700;}
