version: 2

default: &default
  docker:
    - image: regentmarkets/debian-ci:stable
      user: nobody
      auth:
        username: circle4regentmarkets
        password: $DOCKERHUB_PASSWORD
  shell: /bin/bash -leo pipefail
  working_directory: /home/git/regentmarkets/bom-pricing

alias:
  - &ssh_keys
    add_ssh_keys:
      fingerprints:
        - "26:72:b1:08:0f:c1:3b:2b:2d:ea:61:7d:d6:11:63:fb"
  - &git
    run:
      name: Update git repositories
      command: /opt/circle/prepare-test.sh
  - &services
    run:
      name: Start services
      command: |
        start_services
        touch /tmp/services.ready
      background: true
  - &wait_services
    run:
      name: Wait for services to start up
      command: |
        count=0
        while [ ! -f /tmp/services.ready ]; do
            echo 'Still waiting for services...'
            (( count++ )) && (( count >= 20 )) && break
            sleep 1
        done
  - &tests
    environment:
      PERL_TEST_HARNESS_DUMP_TAP: /var/tmp/test-output
      RPC_CONFIG: /home/git/regentmarkets/bom-rpc/rpc.conf.travis

jobs:
  build:
    <<: *default
    steps:
      - *ssh_keys
      - checkout
      - *git
      - *services
      - *wait_services
      - run:
          <<: *tests
          name: Run tests
          command: |
            echo '--formatter TAP::Formatter::JUnit' >> .proverc
            make test
      - store_test_results:
          path: /var/tmp/test-output

workflows:
  version: 2
  build-workflow:
    jobs:
      - build:
          context: perl
  daily:
    triggers:
      - schedule:
          cron: "8 20 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build:
          context: perl
