<label for="l">Select language:</label>
<select name="l">
    [% FOREACH language IN languages.keys.sort %]
        [% IF language == 'EN' %]
            <option value="[% language %]" selected>[% languages.$language %]</option>
        [% ELSE %]
            <option value="[% language %]">[% languages.$language %]</option>
        [% END %]
    [% END %]
</select>
