<table class="collapsed" border="1" style="min-width: 100px;">
    <tr>
        <th>[% currency %]</th>
        <td>[% balance %]</td>
    </tr>
</table>

<br />
<input type="button" value="View [% loginid %] Statement" onclick='location.href="[% statement_url %]"' />
