/* ---------- General ---------- */
label {
    margin-right: 10px;
}
button {
    margin: 10px 0;
}
button:focus {
    outline: none;
}
.gr-4 {
    flex-basis: 45%;
    max-width: 45%;
}
.gr-8 {
    flex-basis: 55%;
    max-width: 55%;
}
.gr-row {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
}
.align-end {
    text-align: end;
}
.align-start {
    text-align: start;
}
table.transactions .action_td {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-bottom: none;
}
.gr-padding-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.gr-padding-lr-10 {
    padding-right: 10px;
    padding-left: 10px;
}
table.grey-col th {
    text-align: left;
    overflow-y: hidden;
    overflow-x: auto;
}
table.grey-col tr:first-child td {
    line-height: 1.1em;
    font-weight: bold;
    background: #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    width: 40%;
}
table.transactions th, table.transactions td {
    text-align: left;
    padding-left: 10px;
}
.hint {
    margin-bottom: 0;
}
/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.border {
    border: 1px solid #F2F2F2;
}
.cancel_icon {
    border: none;
    height: 24px;
    width: 24px;
    background: url(/cryptocurrency/crypto_cashier/images/binary/cancel_icon.svg);
}
.transaction_icon {
    border: none;
    height: 24px;
    width: 24px;
    background: url(/cryptocurrency/crypto_cashier/images/binary/trxn_icon.svg);
}
.icon_disabled{
    opacity: 0.32;
}
.list-note{
    list-style-position: outside;
    text-align: left;
    margin-left: 1em;
}
.learn-more{
    margin-top: 16px;
}
#list {
 list-style-position: inside;
 text-align: left;
 padding: 0;
 margin: 0;
}
.margins-1 {
 margin-left: 27px;
 margin-top: 5px;
}
.block {
 display:none;
 width:75vw;
}
#note-label {
 padding-top: 1em;
 padding-left: 2em;
}
#no_bullet {
 list-style-image:none;
 margin-top: 5px;
}

/* ---------- Deposit ---------- */
#qrcode {
    display: flex;
    justify-content: center;
    text-align: center;
}
.blockchain-txn {
    word-break: break-all;
}
.copy-on-click {
    padding-right: 35px;
    background-image: url(/cryptocurrency/crypto_cashier/images/binary/copy_icon.svg);
    background-repeat: no-repeat;
    background-position: center right 10px;
    cursor: pointer;
    position: relative;
}
.copy-on-click:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 100%;
    width: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: width 0.3s ease-in-out;
}
.copy-on-click.progress:after {
    width: 100%;
}
.address {
    white-space: nowrap;
}
.address:hover {
    background-color: #ddd;
}

/* ---------- Withdraw ---------- */
#frm_withdraw {
    text-align: left;
    padding: 10px 20px;
    margin: auto;
    width: 100%;
    max-width: 500px;
}
input[name="address"], input[name="amount"] {
    width: calc(100% - 16px);
}
.container-small {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}
button[type=submit]:disabled, button[type=submit][disabled] {
    opacity: 0.32;
    cursor: not-allowed;
}
.input-error {
    display: none;
}
.input-error.show-error {
    display: block;
}

/* withdrawal tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px 2px;
    position: absolute;
    bottom: 125%;
    left: 5%;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/* end withdrawal tooltip */
.address-control-container {
     min-height: 3.74rem;
}
.amount-control-container {
     min-height: 2.7rem;
}

@media screen and (max-width: 1024px) {
    .gr-12-t {
        flex-basis: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 350px) {
    .gr-12-m {
        max-width: 100%;
        flex: 0 0 auto;
        flex-direction: column;
        display: block;
        box-sizing: border-box;
        padding-right: 10px;
        padding-left: 10px;
    }
    .centered-m {
        margin-left: auto;
        margin-right: auto;
        padding: 5px 0;
    }
    .gr-hide-m {
        display: none;
    }
    .center-text-m {
        text-align: center;
    }
}
