'Binary (IOM) Ltd':
    short: iom
    address:
      - 'First Floor, Millennium House'
      - Victoria Road
      - Douglas
      - IM2 4RW
      - Isle of Man
      - British Isles
    fax: +44 207 6813557
    country: Isle of Man
    legal_allowed_currencies:
      - GBP
      - USD
    legal_allowed_markets:
      - commodities
      - forex
      - indices
      - stocks
      - smarties
      - random
    legal_allowed_contract_categories:
      - asian
      - callput
      - digits
      - endsinout
      - staysinout
      - touchnotouch
      - spreads
    legal_allowed_contract_types:
      - ASIANU
      - ASIAND
      - CALL
      - PUT
      - DIGITDIFF
      - DIGITMATCH
      - DIGITOVER
      - DIGITUNDER
      - DIGITEVEN
      - DIGITODD
      - EXPIRYMISS
      - EXPIRYRANGE
      - RANGE
      - UPORDOWN
      - ONETOUCH
      - NOTOUCH
      - SPREADU
      - SPREADD
    legal_default_currency: GBP
    has_reality_check: 1
'Binary (Europe) Ltd':
    short: malta
    address:
      - Mompalao Building
      - Suite 2
      - Tower Road
      - Msida MSD1825
      - Malta
    fax: +356 25401037
    country: Malta
    legal_allowed_currencies:
      - USD
      - EUR
      - GBP
    legal_allowed_markets:
      - random
    legal_allowed_contract_categories:
      - asian
      - callput
      - digits
      - endsinout
      - staysinout
      - touchnotouch
      - spreads
    legal_allowed_contract_types:
      - ASIANU
      - ASIAND
      - CALL
      - PUT
      - DIGITDIFF
      - DIGITMATCH
      - DIGITOVER
      - DIGITUNDER
      - DIGITEVEN
      - DIGITODD
      - EXPIRYMISS
      - EXPIRYRANGE
      - RANGE
      - UPORDOWN
      - ONETOUCH
      - NOTOUCH
      - SPREADU
      - SPREADD
    legal_default_currency: EUR
    has_reality_check: 1
'Binary Investments (Europe) Ltd':
    short: maltainvest
    address:
      - Mompalao Building
      - Suite 2
      - Tower Road
      - Msida MSD1825
      - Malta
    fax: +356 25401037
    country: Malta
    legal_allowed_currencies:
      - USD
      - EUR
      - GBP
    legal_allowed_markets:
      - commodities
      - forex
      - indices
      - stocks
      - smarties
    legal_allowed_contract_categories:
      - asian
      - callput
      - digits
      - endsinout
      - staysinout
      - touchnotouch
    legal_allowed_contract_types:
      - ASIANU
      - ASIAND
      - CALL
      - PUT
      - DIGITDIFF
      - DIGITMATCH
      - DIGITOVER
      - DIGITUNDER
      - DIGITEVEN
      - DIGITODD
      - EXPIRYMISS
      - EXPIRYRANGE
      - RANGE
      - UPORDOWN
      - ONETOUCH
      - NOTOUCH
    legal_default_currency: EUR
    has_reality_check: 1
'Binary (C.R.) S.A.':
    short: costarica
    name: Binary (C.R.) S.A.
    fax: +44 207 6813557
    country: Costa Rica
    legal_allowed_currencies:
      - USD
      - EUR
      - GBP
      - AUD
    legal_allowed_markets:
      - commodities
      - forex
      - indices
      - stocks
      - smarties
      - random
    legal_allowed_contract_categories:
      - asian
      - callput
      - digits
      - endsinout
      - staysinout
      - touchnotouch
      - spreads
    legal_allowed_contract_types:
      - ASIANU
      - ASIAND
      - CALL
      - PUT
      - DIGITDIFF
      - DIGITMATCH
      - DIGITOVER
      - DIGITUNDER
      - DIGITEVEN
      - DIGITODD
      - EXPIRYMISS
      - EXPIRYRANGE
      - RANGE
      - UPORDOWN
      - ONETOUCH
      - NOTOUCH
      - SPREADU
      - SPREADD
    legal_default_currency: USD
    allows_payment_agents: 1
    payment_agents_residence_disable: jp
'Binary Ltd':
    short: fog
    name: Binary Ltd
    fax: +61 2 94751035
    country: Bahamas
    legal_default_currency: USD
    legal_allowed_markets:
      - commodities
      - forex
      - indices
      - stocks
      - smarties
      - random
    legal_allowed_contract_categories:
      - asian
      - callput
      - digits
      - endsinout
      - staysinout
      - touchnotouch
      - spreads
    legal_allowed_contract_types:
      - ASIANU
      - ASIAND
      - CALL
      - PUT
      - DIGITDIFF
      - DIGITMATCH
      - DIGITOVER
      - DIGITUNDER
      - DIGITEVEN
      - DIGITODD
      - EXPIRYMISS
      - EXPIRYRANGE
      - RANGE
      - UPORDOWN
      - ONETOUCH
      - NOTOUCH
      - SPREADU
      - SPREADD
    legal_allowed_currencies:
      - USD
'Binary KK':
    short: japan
    address:
      - Hiroo Miyata Bldg 3F
      - 1-9-16 Hiroo
      - Shibuya-ku
      - Tokyo 150-0012
      - Japan
    fax: +81 3 4333 0208
    country: Japan
    legal_allowed_currencies:
      - JPY
    legal_allowed_markets:
      - forex
    legal_allowed_underlyings:
      - frxAUDJPY
      - frxAUDUSD
      - frxEURGBP
      - frxEURJPY
      - frxEURUSD
      - frxGBPJPY
      - frxGBPUSD
      - frxUSDCAD
      - frxUSDJPY
    legal_allowed_contract_categories:
      - callput
      - endsinout
      - staysinout
      - touchnotouch
    legal_allowed_contract_types:
      - CALLE
      - PUTE
      - EXPIRYMISSE
      - EXPIRYRANGEE
      - RANGE
      - UPORDOWN
      - ONETOUCH
      - NOTOUCH
    legal_default_currency: JPY
    has_reality_check: 0
'Binary Virtual Japan':
    short: japan-virtual
    fax: +81 3 4333 0208
    country: Antarctica
    legal_allowed_currencies:
      - JPY
    legal_allowed_markets:
      - forex
    legal_allowed_underlyings:
      - frxAUDJPY
      - frxAUDUSD
      - frxEURGBP
      - frxEURJPY
      - frxEURUSD
      - frxGBPJPY
      - frxGBPUSD
      - frxUSDCAD
      - frxUSDJPY
    legal_allowed_contract_categories:
      - callput
      - endsinout
      - staysinout
      - touchnotouch
    legal_allowed_contract_types:
      - CALLE
      - PUTE
      - EXPIRYMISSE
      - EXPIRYRANGEE
      - RANGE
      - UPORDOWN
      - ONETOUCH
      - NOTOUCH
    legal_default_currency: JPY
