"/contact":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/trade.cgi":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/trading":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/user/statement":
  header:
    Cache-Control: "private, must-revalidate, max-age=0"
"/user/portfolio":
  header:
    Cache-Control: "private, must-revalidate, max-age=0"
"/user/my_account":
  header:
    Cache-Control: "private, must-revalidate, max-age=0"
"trade_get.cgi":
  header:
    Cache-Control: "private, max-age=240"
"/resources/asset_index":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/cashier":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/trade/bet_explanation":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
  exclude_appcache: true
"/terms-and-conditions":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
  exclude_appcache: true
"/resources/contract_guide":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/charting/application":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/affiliate/signup":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/charting/livechart":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/user/logintrouble":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/cashier/payment_agent_list":
  header:
    Cache-Control: "public, max-age=1000"
"/resources/pricing_table":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/resources/rise_fall_table":
  header:
    Cache-Control: "public, max-age=180"
"/states_list":
  header:
    Cache-Control: "public, max-age=86400, s-maxage=604800"
  exclude_appcache: true
"trade_livechart.cgi":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
  exclude_appcache: true
"/resources/trading_times":
  header:
    Cache-Control: "public, max-age=60"
"/legal/us_patents":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/about-us":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/careers":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/smart-indices":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/open-source-projects":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/group-history":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/charting":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/country":
  header:
    Cache-Control: "private, max-age=604800"
"/get-started":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/get-started/beginners-faq":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/get-started/benefits-of-trading-binaries":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/get-started/binary-options-basics":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/get-started/glossary":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/get-started/how-to-trade-binaries":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/get-started/random-markets":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/get-started/types-of-trades":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/get-started/what-is-binary-trading":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/get-started/spread-bets":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/home":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/resources":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/responsible-trading":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/robots.txt":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
  exclude_appcache: true
"/ticker":
  header:
    Cache-Control: "public, max-age=600"
"/tour":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/why-us":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
"/white-labels":
  header:
    Cache-Control: "public, max-age=1000, s-maxage=604800"
