commission:
  intraday:
    historical_fixed: 0.02
    historical_vol_meanrev: 0.10
  digital_spread:
    level_multiplier: 1.4
  adjustment:
    forward_start_factor: 1.5

bet_limits:
  holiday_blackout_start: 345
  holiday_blackout_end: 5
  inefficient_period_payout_max:
    USD: 200
    EUR: 200
    AUD: 200
    GBP: 200
    JPY: 20000
  maximum_payout:
    USD: 50000
    EUR: 50000
    AUD: 50000
    GBP: 50000
    JPY: 5000000
  min_payout:
    default:
      USD: 1
      EUR: 1
      AUD: 1
      GBP: 1
      JPY: 70
    volidx:
      USD: 0.7
      EUR: 0.7
      AUD: 0.7
      GBP: 0.7
      JPY: 70
  min_stake:
    maltainvest:
      USD: 5
      EUR: 5
      AUD: 5
      GBP: 5
  open_positions_payout_per_symbol_and_bet_type_limit:
    USD: 10000
    EUR: 10000
    AUD: 10000
    GBP: 10000
    JPY: 1000000

risk_profile:
  no_business:
      turnover:
          USD: 0
          EUR: 0
          AUD: 0
          GBP: 0
          JPY: 0
      payout:
          USD: 0
          EUR: 0
          AUD: 0
          GBP: 0
          JPY: 0
  extreme_risk:
      turnover:
          USD: 10000
          EUR: 10000
          AUD: 10000
          GBP: 10000
          JPY: 1000000
      payout:
          USD: 1000
          EUR: 1000
          AUD: 1000
          GBP: 1000
          JPY: 100000
  high_risk:
      turnover:
          USD: 50000
          EUR: 50000
          AUD: 50000
          GBP: 50000
          JPY: 5000000
      payout:
          USD: 5000
          EUR: 5000
          AUD: 5000
          GBP: 5000
          JPY: 500000
  medium_risk:
      turnover:
          USD: 100000
          EUR: 100000
          AUD: 100000
          GBP: 100000
          JPY: 10000000
      payout:
          USD: 20000
          EUR: 20000
          AUD: 20000
          GBP: 20000
          JPY: 2000000
  low_risk:
      turnover:
          USD: 500000
          EUR: 500000
          AUD: 500000
          GBP: 500000
          JPY: 50000000
      payout:
          USD: 50000
          EUR: 50000
          AUD: 50000
          GBP: 50000
          JPY: 5000000
