commission:
  intraday:
    historical_fixed: 0.02
    historical_vol_meanrev: 0.10
  digital_spread:
    level_multiplier: 1.4
  adjustment:
    forward_start_factor: 1.5

bet_limits:
  holiday_blackout_start: 345
  holiday_blackout_end: 5
  inefficient_period_payout_max:
    USD: 200
    EUR: 200
    AUD: 200
    GBP: 200
    JPY: 20000
    BTC: 0.05
    BCH: 0.25
    ETH: 0.5
    LTC: 2.5
    ETC: 2.5
  maximum_payout:
    USD: 50000
    EUR: 50000
    AUD: 50000
    GBP: 50000
    JPY: 5000000
    BTC: 5
    BCH: 5
    ETH: 10
    LTC: 50
    ETC: 50
  min_payout:
    default:
      USD: 1
      EUR: 1
      AUD: 1
      GBP: 1
      JPY: 70
      BTC: 0.0004
      BCH: 0.002
      ETH: 0.004
      LTC: 0.02
      ETC: 0.02
    volidx:
      USD: 0.7
      EUR: 0.7
      AUD: 0.7
      GBP: 0.7
      JPY: 70
      BTC: 0.0004
      BCH: 0.002
      ETH: 0.004
      LTC: 0.02
      ETC: 0.02
  min_stake:
    maltainvest:
      USD: 5
      EUR: 5
      AUD: 5
      GBP: 5
      BTC: 0.005
      BCH: 0.025
      ETH: 0.05
      LTC: 0.25
      ETC: 0.25
  open_positions_payout_per_symbol_limit:
    atm:
      USD: 10000
      EUR: 10000
      AUD: 10000
      GBP: 10000
      JPY: 200000 # 200 lots for JPY on < 7 days
      BTC: 1
      ETH: 10
      LTC: 50
      ETC: 50
    non_atm:
      less_than_seven_days:
        USD: 3000
        EUR: 3000
        AUD: 3000
        GBP: 3000
        JPY: 200000 # 200 lots for JPY on < 7 days
        BTC: 1
        ETH: 10
        LTC: 50
        ETC: 50
      more_than_seven_days:
        USD: 10000
        EUR: 10000
        AUD: 10000
        GBP: 10000
        JPY: 200000 # 200 lots for JPY on > 7 days
        BTC: 1
        ETH: 10
        LTC: 50
        ETC: 50
  min_commission_amount:
    USD: 0.02 # 0.02 dollar
    EUR: 0.02
    AUD: 0.02
    GBP: 0.02
    JPY: 2 # two yen
    BTC: 0.000015
    BCH: 0.000075
    ETH: 0.00015
    LTC: 0.00075
    ETC: 0.0015

risk_profile:
  no_business:
      turnover:
          USD: 0
          EUR: 0
          AUD: 0
          GBP: 0
          JPY: 0
          BTC: 0
          BCH: 0
          ETH: 0
          LTC: 0
          ETC: 0
      payout:
          USD: 0
          EUR: 0
          AUD: 0
          GBP: 0
          JPY: 0
          BTC: 0
          BCH: 0
          ETH: 0
          LTC: 0
          ETC: 0
  extreme_risk:
      turnover:
          USD: 1000
          EUR: 1000
          AUD: 1000
          GBP: 1000
          JPY: 100000
          BTC: 0.2
          BCH: 1
          ETH: 2
          LTC: 10
          ETC: 10
      payout:
          USD: 100
          EUR: 100
          AUD: 100
          GBP: 100
          JPY: 10000
          BTC: 0.02
          BCH: 0.1
          ETH: 0.2
          LTC: 1
          ETC: 1
  high_risk:
      turnover:
          USD: 50000
          EUR: 50000
          AUD: 50000
          GBP: 50000
          JPY: 5000000
          BTC: 5
          BCH: 10
          ETH: 50
          LTC: 250
          ETC: 250
      payout:
          USD: 5000
          EUR: 5000
          AUD: 5000
          GBP: 5000
          JPY: 500000
          BTC: 0.5
          BCH: 2.5
          ETH: 5
          LTC: 50
          ETC: 50
  medium_risk:
      turnover:
          USD: 100000
          EUR: 100000
          AUD: 100000
          GBP: 100000
          JPY: 500000
          BTC: 15
          BCH: 10
          ETH: 50
          LTC: 250
          ETC: 250
      payout:
          USD: 20000
          EUR: 20000
          AUD: 20000
          GBP: 20000
          JPY: 100000
          BTC: 2.5
          BCH: 2.5
          ETH: 5
          LTC: 50
          ETC: 50
  low_risk:
      turnover:
          USD: 500000
          EUR: 500000
          AUD: 500000
          GBP: 500000
          JPY: 50000000
          BTC: 30
          BCH: 20
          ETH: 100
          LTC: 500
          ETC: 500
      payout:
          USD: 50000
          EUR: 50000
          AUD: 50000
          GBP: 50000
          JPY: 5000000
          BTC: 5
          BCH: 5
          ETH: 10
          LTC: 50
          ETC: 50
