---
paymentapi_server:
  provides:
    - paymentapi_server
    - paymentapi_status_monitoring
  consumes:
    - postgres_server
  inherits:
    - production_unix_server
    - feed_client

auth_query:
  consumes:
    - postgres_auth_server
  provides:
    - postgres_auth_server
  inherits:
    - production_unix_server

auth_master:
  consumes:
    - postgres_auth_server
  provides:
    - postgres_auth_server
  inherits:
    - production_unix_server

couchdb_client:
  consumes:
    - couchdb

couchdb_server:
  provides:
    - couchdb

couchdb_master:
  inherits:
    - couchdb_server

customer_database_server:
  inherits:
    - postgres_server

customer_facing_webserver:
  consumes:
    - postgres_server
    - postgres_feed_server
  provides:
    - public_web_server
  inherits:
    - production_unix_server
    - feed_client
    - couchdb_server

dealing_server:
  inherits:
    - customer_facing_webserver

feed_distributor:
  provides:
    - bom_feed
    - rmg_unix_server
  consumes:
    - bom_raw_feed
    - rmg_unix_server
    - postgres_feed_server

feed_client:
  consumes:
    - bom_feed

feed_relay_source:
  provides:
    - bom_raw_feed
    - bom_feed
  inherits:
    - production_unix_server

feed_server:
  consumes:
    - bom_raw_feed
    - postgres_server
  provides:
    - bom_raw_feed
    - public_web_server
  inherits:
    - production_unix_server
    - couchdb_server

generic_rmg_web_server:
  provides:
    - private_web_server
  inherits:
    - production_unix_server

ui_server:
  inherits:
    - customer_facing_webserver

master_live_server:
  consumes:
    - volupd_ssh
  inherits:
    - customer_facing_webserver

streaming_server:
  provides:
    - public_web_server
    - streamer
  inherits:
    - customer_facing_webserver

dell_omsa:
  provides:
    - openmanage_admin_server

openvz_server:
  inherits:
    - production_unix_server

otn_query:
  consumes:
    - postgres_feed_server
  provides:
    - postgres_feed_server
  inherits:
    - production_unix_server

otn_master:
  consumes:
    - postgres_feed_server
  provides:
    - postgres_feed_server
  inherits:
    - production_unix_server

otn_master_backup:
  consumes:
    - postgres_feed_server
  provides:
    - postgres_feed_server
  inherits:
    - production_unix_server

otn_relay:
  consumes:
    - postgres_feed_server
  provides:
    - postgres_feed_server
  inherits:
    - production_unix_server

postgres_server:
  consumes:
    - postgres_server
  provides:
    - postgres_server
  inherits:
    - production_unix_server

production_unix_server:
  consumes:
    - public_web_server
    - public_mail_server
    - rmg_unix_server
    - ssh
  provides:
    - rmg_unix_server
  inherits:
    - couchdb_client

primary_feed_server:
  inherits:
    - feed_server


reporting_database_server:
  inherits:
    - postgres_server

ssh_server:
  provides:
    - ssh


webapi_server:
  consumes:
    - postgres_server
    - postgres_feed_server
    - postgres_auth_server
  provides:
    - public_web_server
    - webapi
  inherits:
    - production_unix_server
    - feed_client

webapi_external_server:
  consumes:
    - postgres_server
    - postgres_feed_server
    - postgres_auth_server
  provides:
    - public_web_server
    - webapi_external
  inherits:
    - production_unix_server
    - customer_facing_webserver
    - feed_client

volupd_ssh_server:
  provides:
    - volupd_ssh

web_server:
  provides:
    - public_web_server

near_main_db_server:
   provides: []
