<p style="[% IF error; style = 'color:red; font-weight:bold;'; ELSE; style = 'color:green; font-weight:bold;'; END; %]">[% message %]</p>
<p>
    <a href="[% self_url | none %]">&laquo;Return to Client Details<a/>
</p>
