<!DOCTYPE html>
<style>
    #message div {
        background-color:white;
        width: 40%;
        font-weight: bold;
        padding: 10px;
    }
    #saved {
        color:green;
        }
    #error {
        color: red;
    }

    .settings_form td div span { font-style: italic }

    fieldset {
        margin-bottom: 15px;
        padding-bottom: 0px;
        border-color: #cca;
    }
    fieldset legend {
        font-weight: bold;
        font-size: 12px;
        width: calc(100% - 10px);
        text-transform: capitalize;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        text-indent: 10px;
        border: none;
        border-radius: 3px;
        padding: 3px;
        margin-bottom: 5px;
        background: #eed;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }
    fieldset legend:hover {
        background: #ffe;
    }
    fieldset legend a:hover {
        text-decoration: none;
    }
    fieldset ul {
        padding-left: 5px;
    }
    fieldset ul li {
        margin: 0;
        list-style: none;
    }
    fieldset ul li.leaf {
        display: flex;
        margin-bottom: 10px;
        padding: 10px;
        width: calc(100% - 25px);
        background-color: #ddd;
    }
    fieldset ul li.leaf:hover {
        background: #eee;
    }
    fieldset ul label {
        color: darkblue;
    }
    fieldset ul label, fieldset ul  textarea {
        vertical-align:text-top;
        font-size:12px;
        width: 460px;
        display: block;
        text-align: left;
    }
    fieldset ul li.leaf textarea {
        height: 60px;
        width: 350px;
        font-size: 10px;
    }

    fieldset ul li input:not([type="checkbox"]) {
        display: block;
        width: 350px;
    }
    fieldset ul li.leaf .desc {
        color: #666;
        margin-top: 7px;
        width: 460px;
    }
    fieldset ul li div.input_container {
        padding-left: 10px;
    }
    fieldset ul li.leaf cite {
        display: block;
        color: #777;
        margin-top: 3px;
    }
    fieldset ul li.leaf cite em {
        font-family: monospace;
        font-size: 11px;
        color: green;
    }

    span.close {
        display: none
    }

    .submit_container {
        text-align: center;
        margin-top: 10px;
    }
    input[type="submit"] {
        text-transform: uppercase;
    }
    input[disabled] {
        background: #eee;
    }
</style>

<div id="wrapper">
    [% INCLUDE settings_form %]
</div>

<script>
    \$('li label').click(function() {
        \$(this).next().focus();
    });

    \$('form fieldset legend').each(function() {
        var leg_obj = \$(this);
        leg_obj.html( leg_obj.html().replace(/_/g, ' ') );
    });
    \$('form fieldset legend').click(function(e) {
        e.preventDefault();
        \$(this).next().toggle();
        \$(this).children('a').children('span').toggle();
    });
</script>

[% BLOCK leaf %]
    <li class="leaf">
        <div>
            <label for="[% item.name %]">[% item.name.replace('^(([\w.]+)\.)([\w]+)$', '$1<strong>$3</strong>') | none %]</label>
            <div class="desc">
                [% item.description %]
                [% IF item.default %]
                <strong>[&#10004;] </strong>
                [% END %]
                [% IF item.disabled %]
                <strong>Field is static and cannot be changed.</strong>
                [% END %]
            </div>
        </div>
        <div class="input_container">
            [% IF item.type == 'Bool' %]
                <input id="[% item.name %]" type="checkbox" name="[% item.name %]" [% IF item.disabled %] disabled [% END %] [% IF item.value %] checked [% END %] />
            [% ELSIF item.type == 'json_string' or item.type == 'LongStr' %]
                <textarea id="[% item.name %]" rows="3" cols="30" name="[% item.name %]" placeholder="[% item.default_value %]" [% IF item.disabled %] disabled [% END %]>[% item.value %]</textarea>
            [% ELSE %]
                <input id="[% item.name %]" type="text" name="[% item.name %]" value="[% item.value %]" size="40" placeholder="[% item.default_value %]" [% IF item.disabled %] disabled [% END %]>
            [% END %]
            <cite>
                <strong>Type:</strong> <em>[% item.type %]</em><br />
                <strong>Default Value:</strong>  <em>[% IF item.default_value %] [% item.default_value %] [% ELSE %] [Empty] [% END %]</em>
            </cite>
        </div>
    </li>
[% END %]

[% BLOCK branch %]
    <fieldset [% IF NOT config.key %] style="border: 0px" [% END %]>
        [% IF config.key %]
            <legend>
                <a href=""><span class="close">&#10145;</span><span>&#11015;</span> [% config.key %]</a>
            </legend>
        [% END %]
        <ul>
            [% FOREACH config IN current_config %]
                [% IF NOT config.value.leaf  %]
                    <li class="branch"> [% INCLUDE  branch current_config=config.value %] </li>
                [% ELSE %]
                    [% INCLUDE leaf item=config.value.leaf %]
                [% END %]
            [% END %]
        </ul>
    </fieldset>
[% END %]

[% BLOCK submit_button %]
    <div class="submit_container">
        <input type="submit" value="UPDATE [% s.title %]">
    </div>
[% END %]

[% BLOCK settings_form %]
    [% FOREACH s IN settings %]
        <table class="BlackCandy" rules="all" frame="void" border="1" cellpadding="1" cellspacing="2" width="97%">
            <tbody>
                <tr class="Blacklabel">
                    <td class="whitelabel" colspan="2">[% s.title %]</td>
                </tr>
                <tr>
                    <td align="left" style="padding-left: 10px;">
                        <form method="POST" id="global" action="?page=[% s.submitted %]&group=[% s.group %]">
                            <input type="hidden" name="submitted" value="[% s.submitted %]">
                            <input type="hidden" name="page" value="[% s.submitted %]">
                            <input type="hidden" name="group" value="[% s.group %]">
                            <input type="hidden" name="revision" value="[% s.setting_revision %]">
                            [% INCLUDE submit_button %]
                            [% INCLUDE branch current_config=s.settings %]
                            [% INCLUDE submit_button %]
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    [% END %]
[% END %]
