[% IF logins %]
<table class="collapsed">
    [% FOREACH l IN logins %]
        <tr>
            <td>[% l.history_date %]</td>
            <td>[% l.action %]</td>
            <td>[% l.binary_user.email %]</td>
        </tr>
    [% END %]
</table>
[% ELSE %]
No logins found for IP address [% ip %] in the last [% days %] days
[% END %]
