<p>Send Account Recovery email to client's registered email address:</p>
<form class="bo_ajax_form row" action="[% request.url_for('backoffice/f_clientloginid_newpassword.cgi') %]" method=post class="row">
    <input type="hidden" name="broker" value="[% request.broker_code %]" />
    <label for="show">Login ID:</label>
    <input type=text size=15 id="show" name='show' value='' data-lpignore='true' />
    <input type="submit" class="btn btn--red" value="Send">
</form>
<p class="error">NOTE: Existing social login will be removed</p>
