<style>
form {display: inline-block;}
.pa_table td, .pa_table th { border: 1px solid #eee; padding: 5px; }
#count {padding-left: 1em; color: green; font-weight: bold;}
#not-found{display:block;color:red; text-align:center;width:100%; padding:20px}
</style>

<form action="[% submit_form_url %]" method="post" class="grd-margin-bottom">
    Select country:
    <select name="country">
        [% FOREACH entry IN countries_list.sort %]
            <option value="[% entry %]"[% IF entry == selected_country %] selected[% END %]>[% countries_list.$entry %]</option>
        [% END %]
    </select>
    Currency:
    <select name="currency">
        [% FOREACH entry IN currency_options %]
            <option value="[% entry %]"[% IF entry == selected_currency %] selected[% END %]>[% entry %]</option>
        [% END %]
    </select>
    <input type="submit" name="submit" value="submit">
</form>

[% IF records.size > 0 %]
    <span id="count">Number of payment agents in <strong>[% countries_list.$selected_country %] : [% records.size  %]</strong></span>
[% END %]

<table class="pa_table sortable collapsed hover alternate">
    <tr>
        <th>LoginID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>URL</th>
        <th>Max Withdrawal</th>
        <th>Min Withdrawal</th>
        <th>Is Listed</th>
        <th>Information</th>
        <th>Summary</th>
        <th>Commission Deposit</th>
        <th>Commission Withdrawal</th>
        <th>Supported Banks</th>
    </tr>
    <tbody>
        [% IF records.size == 0 AND selected_country != "" %]
            <tr><td colspan="13">
                <span id="not-found">
                    No payment agent is available in <strong>[% countries_list.$selected_country %]</strong> with <strong>[% selected_currency %]</strong> currency
                </span>
            </td></tr>
        [% END %]
    [% FOREACH entry IN records.keys.sort %]
        <tr>
            <td>
                <a href="f_clientloginid_edit.cgi?broker=CR&loginID=[% records.$entry.client_loginid %]">
                    [% records.$entry.client_loginid %]
                </a>
            </td>
            <td>[% records.$entry.payment_agent_name %]</td>
            <td>[% records.$entry.email %]</td>
            <td>[% records.$entry.phone %]</td>
            <td>[% records.$entry.url %]</td>
            <td>[% records.$entry.max_withdrawal %]</td>
            <td>[% records.$entry.min_withdrawal %]</td>
            <td>[% records.$entry.is_listed ? 'Yes' : 'No' %]</td>
            <td>[% records.$entry.information %]</td>
            <td>[% records.$entry.summary %]</td>
            <td>[% records.$entry.commission_deposit %]</td>
            <td>[% records.$entry.commission_withdrawal %]</td>
            <td>[% records.$entry.supported_banks %]</td>
        </tr>
    [% END %]
   </tbody>
</table>
