<table>
    <tr>
        <td><b>Name</b></td>
        <td><b>Limit Conditions</b></td>
        <td><b>Payout Limit</b></td>
        <td><b>Turnover Limit</b></td>
    </tr>
    [% FOREACH data IN output %]
        <tr>
            <td>[% data.name %]</td>
            <td>[% data.condition_string %]</td>
            <td>[% data.payout_limit %]</td>
            <td>[% data.turnover_limit %]</td>
        </tr>
    [% END %]
</table>
