<table>
    <th>
        <td>Name</td>
        <td>Limit Conditions</td>
        <td>Payout Limit</td>
        <td>Turnover Limit</td>
    </th>
    [% FOREACH data IN output %]
        <tr>
            <td>[% $data.name %]</td>
            <td>[% $data.condition_string %]</td>
            <td>[% $data.payout_limit %]</td>
            <td>[% $data.turnover_limit %]</td>
        </tr>
    [% END %]
</table>
