<link rel="stylesheet" href="[% request.url_for('css/external/jbpivot.min.css', undef, undef, {internal_static => 1}) %]">
<div id="pivot1"></div>
<script type="text/javascript">
      \$(window).load(function(){
    var pivot = [% pivot %];
    pivot.formatter = function (V,f) { var res=0; if (typeof(V) === "number") { res = virgule(Math.round(V)); } return res; };
              \$("#pivot1").jbPivot(pivot)
          });
</script>
