commission:
  intraday:
    historical_fixed: 0.02
    historical_vol_meanrev: 0.10
  digital_spread:
    level_multiplier: 1.4
  adjustment:
    forward_start_factor: 1.5

default_stake:
  USD: 10
  EUR: 10
  AUD: 10
  GBP: 10
  BTC: 0.0002 
  ETH: 0.006
  LTC: 0.06
  BUSD: 10
  DAI: 10
  EURS: 10
  IDK: 140
  PAX: 10
  TUSD: 10
  USB: 10
  USDC: 10
  USDK: 10
  UST: 10
  eUSDT: 10

bet_limits:
  holiday_blackout_start: 345
  holiday_blackout_end: 5
  inefficient_period_payout_max:
    USD: 200
    EUR: 200
    AUD: 200
    GBP: 200
    BTC: 0.004
    ETH: 0.1
    LTC: 1
    BUSD: 200
    DAI: 200
    EURS: 200
    IDK: 2780
    PAX: 200
    TUSD: 200
    USB: 200
    USDC: 200
    USDK: 200
    UST: 200
    eUSDT: 200

# The following limits is based on this exchange rates
# (1 BTC = $10000)
# (1 ETH = $250)
# (1 LTC = $45)
# (1 IDK = $0.066)
# Date: 2020-06-24 (Values are rounded)

  min_payout:
    default_landing_company:
      default_market:
        default_contract_category:
          USD: 0.01
          EUR: 0.01
          AUD: 0.01
          GBP: 0.01
          BTC: 0.0000002
          ETH: 0.000006
          LTC: 0.00006
          IDK: 0.1
          PAX: 0.01
          BUSD: 0.01
          DAI: 0.01
          EURS: 0.01
          TUSD: 0.01
          USB: 0.01
          USDC: 0.01
          USDK: 0.01
          UST: 0.01
          eUSDT: 0.01
        callputspread:
          USD: 1
          EUR: 1
          AUD: 1
          GBP: 1
          BTC: 0.00002
          ETH: 0.0006
          LTC: 0.006
          UST: 1
          USB: 1
          IDK: 15
          PAX: 1
          BUSD: 1
          DAI: 1
          EURS: 1
          TUSD: 1
          USDC: 1
          USDK: 1
          eUSDT: 1
  max_payout:
    default_landing_company:
      default_market:
        default_contract_category:
          USD: 50000
          EUR: 50000
          AUD: 50000
          GBP: 50000
          BTC: 1
          ETH: 30
          LTC: 250
          BUSD: 5000
          DAI: 5000
          EURS: 5000
          IDK: 69475
          PAX: 5000
          TUSD: 5000
          USB: 5000
          USDC: 5000
          USDK: 5000
          UST: 5000
          eUSDT: 5000
        runs:
          USD: 10000
          EUR: 10000
          AUD: 10000
          GBP: 10000
          BTC: 0.2
          ETH: 6
          LTC: 55
          BUSD: 1000
          DAI: 1000
          EURS: 1000
          IDK: 13895
          PAX: 1000
          TUSD: 1000
          USB: 1000
          USDC: 1000
          USDK: 1000
          UST: 1000
          eUSDT: 1000
        digits:
          USD: 30000
          EUR: 30000
          AUD: 30000
          GBP: 30000
          BTC: 0.7
          ETH: 17
          LTC: 165
          BUSD: 5000
          DAI: 5000
          EURS: 5000
          IDK: 41685
          PAX: 5000
          TUSD: 5000
          USB: 5000
          USDC: 5000
          USDK: 5000
          UST: 5000
          eUSDT: 5000
  min_stake:
    default_landing_company:
      default_market:
        default_contract_category:
          USD: 0.5
          EUR: 0.5
          AUD: 0.5
          GBP: 0.5
          BTC: 0.00004
          ETH: 0.0003
          LTC: 0.003
          BUSD: 0.5
          DAI: 0.5
          EURS: 0.5
          IDK: 6
          PAX: 0.5
          TUSD: 0.5
          USB: 0.5
          USDC: 0.5
          USDK: 0.5
          UST: 0.5
          eUSDT: 0.5
        multiplier:
          USD: 1
          EUR: 1
          AUD: 1
          GBP: 1
          BTC: 0.00002
          ETH: 0.0006
          LTC: 0.006
          BUSD: 1
          DAI: 1
          EURS: 1
          IDK: 15
          PAX: 1
          TUSD: 1
          USB: 1
          USDC: 1
          USDK: 1
          UST: 1
          eUSDT: 1
      synthetic_index:
        default_contract_category:
          USD: 0.35
          EUR: 0.35
          AUD: 0.35
          GBP: 0.35
          BTC: 0.00004
          ETH: 0.0003
          LTC: 0.003
          BUSD: 0.35
          DAI: 0.35
          EURS: 0.35
          IDK: 6
          PAX: 0.35
          TUSD: 0.35
          USB: 0.35
          USDC: 0.35
          USDK: 0.35
          UST: 0.35
          eUSDT: 0.35
        multiplier:
          USD: 1
          EUR: 1
          AUD: 1
          GBP: 1
          BTC: 0.00002
          ETH: 0.0006
          LTC: 0.006
          BUSD: 1
          DAI: 1
          EURS: 1
          IDK: 15
          PAX: 1
          TUSD: 1
          USB: 1
          USDC: 1
          USDK: 1
          UST: 1
          eUSDT: 1
    maltainvest:
      default_market:
        default_contract_category:
          USD: 5
          EUR: 5
          AUD: 5
          GBP: 5
          BTC: 0.0001
          ETH: 0.003
          LTC: 0.03
          BUSD: 5
          DAI: 5
          EURS: 5
          IDK: 70
          PAX: 5
          TUSD: 5
          USB: 5
          USDC: 5
          USDK: 5
          UST: 5
          eUSDT: 5
  max_stake:
    default_landing_company:
      default_market:
        multiplier:
          USD: 2000
          EUR: 2000
          AUD: 2000
          GBP: 2000
          BTC: 0.04
          ETH: 1
          LTC: 11
          BUSD: 2000
          DAI: 2000
          EURS: 2000
          IDK: 27790
          PAX: 2000
          TUSD: 2000
          USB: 2000
          USDC: 2000
          USDK: 2000
          UST: 2000
          eUSDT: 2000
  min_commission_amount:
    default_contract_category:
      USD: 0.02 # 0.02 dollar
      EUR: 0.02
      AUD: 0.02
      GBP: 0.02
      BTC: 0.000001
      ETH: 0.00001
      LTC: 0.0001
      IDK: 0.3
      PAX: 0.02
      BUSD: 0.02
      DAI: 0.02
      EURS: 0.02
      TUSD: 0.02
      USB: 0.02
      USDC: 0.02
      USDK: 0.02
      UST: 0.02
      eUSDT: 0.02
    callputspread:
      USD: 0.05
      EUR: 0.05
      AUD: 0.05
      GBP: 0.05
      BTC: 0.000001
      ETH: 0.00003
      LTC: 0.0003
      UST: 0.05
      USB: 0.05
      IDK: 0.7
      PAX: 0.05
      BUSD: 0.05
      DAI: 0.05
      EURS: 0.05
      TUSD: 0.05
      USDC: 0.05
      USDK: 0.05
      eUSDT: 0.05
  min_order_amount:
    USD: 0.1 # 0.1 dollar
    EUR: 0.1
    AUD: 0.1
    GBP: 0.1
    BTC: 0.000002
    ETH: 0.00006
    LTC: 0.0006
    BUSD: 0.1
    DAI: 0.1
    EURS: 0.1
    UST: 0.1
    USB: 0.1
    IDK: 1
    PAX: 0.1
    TUSD: 0.1
    USDC: 0.1
    USDK: 0.1
    eUSDT: 0.1

#Lookback option limits – the Value-at-risk approach
#
#In order to match the risk profile of lookback options with binary options, the 1% Value-at-risk (VaR) of each option and underlying are used as estimates the payoff of the option during adverse conditions – i.e. large movements on the underlying. The 1% VaR is defined such that the probability of losing more than the VaR is less than or equal to 1%.
#
#The VaRs are computed using simulations with a starting underlying price of 1. Hence, one should multiply it by the current underlying price to arrive at the current VaR of the lookback option – this works because lookback option payoffs are proportional to current underlying price.
#
#Assuming that 1% VaR is equal to the payout of binary options, we can use the following relationship to determine contract limit for each client:
#
#current_underlying_price * 1pc_VaR * client_contract_limit * contract_size = client_payout_limit
#
# var:
#    intraday:
#      R_100: 0.06415186562796626
#      R_75: 0.047463777983804245
#      R_50: 0.03120313936108904
#      R_25: 0.015385016867331208
#      R_10: 0.006103848574004506
#    daily:
#      R_100: 0.44644017285887516
#      R_75: 0.3122480165035335
#      R_50: 0.19371946771521417
#      R_25: 0.09006447961871289
#      R_10: 0.03444191548393187

lookback_limits:
  crypto: 100
  fiat: 1
#
#Note:
#multipliers by underlying are chosen as the smallest possible denomination {0.1,0.01,0.001,…}
#where a unit price of a 1 minute lookback float call contract would be above {currency}0.5
#based on the latest spot on Jun 4th 2020 1:46pm MYT as below
#
#The miminum multiplier below are for fiat. For cryptos, we will divide below numbers by 100;

#
#R_10 : 7,362
#R_25 : 2,348
#R_50 : 213
#R_75 : 406,808
#R_100: 1,401
#1HZ10V:  8,345
#1HZ25V:  398,554
#1HZ50V:  309,050
#1HZ75V:  200,900
#1HZ100V: 8,796
  min_multiplier:
    R_10 : 1.0
    R_25 : 1.0
    R_50 : 1
    R_75 : 0.005
    R_100 : 0.5
    1HZ10V: 1.0
    1HZ25V: 0.01
    1HZ50V: 0.005
    1HZ75V: 0.005
    1HZ100V: 0.1

  open_position_limits:
    USD: 300
    EUR: 300
    AUD: 300
    GBP: 300
    BTC: 0.007
    ETH: 0.2
    LTC: 2
    BUSD: 300
    DAI: 300
    EURS: 300
    IDK: 4170
    PAX: 300
    TUSD: 300
    USB: 300
    USDC: 300
    USDK: 300
    UST: 300
    eUSDT: 300

risk_profile:
  no_business:
      turnover:
          USD: 0
          EUR: 0
          AUD: 0
          GBP: 0
          BTC: 0
          ETH: 0
          LTC: 0
          BUSD: 0
          DAI: 0
          EURS: 0
          IDK: 0
          PAX: 0
          TUSD: 0
          USB: 0
          USDC: 0
          USDK: 0
          UST: 0
          eUSDT: 0
      payout:
          USD: 0
          EUR: 0
          AUD: 0
          GBP: 0
          BTC: 0
          ETH: 0
          LTC: 0
          BUSD: 0
          DAI: 0
          EURS: 0
          IDK: 0
          PAX: 0
          TUSD: 0
          USB: 0
          USDC: 0
          USDK: 0
          UST: 0
          eUSDT: 0
      multiplier:
          USD: 0
          EUR: 0
          AUD: 0
          GBP: 0
          BTC: 0
          ETH: 0
          LTC: 0
          BUSD: 0
          DAI: 0
          EURS: 0
          IDK: 0
          PAX: 0
          TUSD: 0
          USB: 0
          USDC: 0
          USDK: 0
          UST: 0
          eUSDT: 0
  extreme_risk:
      turnover:
          USD: 1000
          EUR: 1000
          AUD: 1000
          GBP: 1000
          BTC: 0.02
          ETH: 0.6
          LTC: 6
          BUSD: 1000
          DAI: 1000
          EURS: 1000
          IDK: 13895
          PAX: 1000
          TUSD: 1000
          USB: 1000
          USDC: 1000
          USDK: 1000
          UST: 1000
          eUSDT: 1000
      payout:
          USD: 100
          EUR: 100
          AUD: 100
          GBP: 100
          BTC: 0.002
          ETH: 0.06
          LTC: 0.6
          BUSD: 100
          DAI: 100
          EURS: 100
          IDK: 1390
          PAX: 100
          TUSD: 100
          USB: 100
          USDC: 100
          USDK: 100
          UST: 100
          eUSDT: 100
      multiplier:
          USD: 50
          EUR: 50
          AUD: 50
          GBP: 50
          BTC: 0.001
          ETH: 0.03
          LTC: 0.3
          BUSD: 50
          DAI: 50
          EURS: 50
          IDK: 695
          PAX: 50
          TUSD: 50
          USB: 50
          USDC: 50
          USDK: 50
          UST: 50
          eUSDT: 50
  high_risk:
      turnover:
          USD: 5000
          EUR: 5000
          AUD: 5000
          GBP: 5000
          BTC: 0.1
          ETH: 3
          LTC: 30
          BUSD: 5000
          DAI: 5000
          EURS: 5000
          IDK: 69475
          PAX: 5000
          TUSD: 5000
          USB: 5000
          USDC: 5000
          USDK: 5000
          UST: 5000
          eUSDT: 5000
      payout:
          USD: 1000
          EUR: 1000
          AUD: 1000
          GBP: 1000
          BTC: 0.02
          ETH: 0.6
          LTC: 6
          BUSD: 1000
          DAI: 1000
          EURS: 1000
          IDK: 13895
          PAX: 1000
          TUSD: 1000
          USB: 1000
          USDC: 1000
          USDK: 1000
          UST: 1000
          eUSDT: 1000
      multiplier:
          USD: 200
          EUR: 200
          AUD: 200
          GBP: 200
          BTC: 0.004
          ETH: 0.1
          LTC: 1
          BUSD: 200
          DAI: 200
          EURS: 200
          IDK: 2780
          PAX: 200
          TUSD: 200
          USB: 200
          USDC: 200
          USDK: 200
          UST: 200
          eUSDT: 200
  moderate_risk:
      turnover:
          USD: 50000
          EUR: 50000
          AUD: 50000
          GBP: 50000
          BTC: 1.0
          ETH: 30
          LTC: 280
          BUSD: 50000
          DAI: 50000
          EURS: 50000
          IDK: 694740
          PAX: 50000
          TUSD: 50000
          USB: 50000
          USDC: 50000
          USDK: 50000
          UST: 50000
          eUSDT: 50000
      payout:
          USD: 5000
          EUR: 5000
          AUD: 5000
          GBP: 5000
          BTC: 0.1
          ETH: 3
          LTC: 30
          BUSD: 5000
          DAI: 5000
          EURS: 5000
          IDK: 69475
          PAX: 5000
          TUSD: 5000
          USB: 5000
          USDC: 5000
          USDK: 5000
          UST: 5000
          eUSDT: 5000
      multiplier:
          USD: 500
          EUR: 500
          AUD: 500
          GBP: 500
          BTC: 0.01
          ETH: 0.3
          LTC: 3
          BUSD: 500
          DAI: 500
          EURS: 500
          IDK: 6950
          PAX: 500
          TUSD: 500
          USB: 500
          USDC: 500
          USDK: 500
          UST: 500
          eUSDT: 500
  medium_risk:
      turnover:
          USD: 100000
          EUR: 100000
          AUD: 100000
          GBP: 100000
          BTC: 2
          ETH: 60
          LTC: 555
          BUSD: 100000
          DAI: 100000
          EURS: 100000
          IDK: 1389475
          PAX: 100000
          TUSD: 100000
          USB: 100000
          USDC: 100000
          USDK: 100000
          UST: 100000
          eUSDT: 100000
      payout:
          USD: 20000
          EUR: 20000
          AUD: 20000
          GBP: 20000
          BTC: 0.5
          ETH: 12
          LTC: 110
          BUSD: 20000
          DAI: 20000
          EURS: 20000
          IDK: 277895
          PAX: 20000
          TUSD: 20000
          USB: 20000
          USDC: 20000
          USDK: 20000
          UST: 20000
          eUSDT: 20000
      multiplier:
          USD: 1000
          EUR: 1000
          AUD: 1000
          GBP: 1000
          BTC: 0.02
          ETH: 0.6
          LTC: 6
          BUSD: 1000
          DAI: 1000
          EURS: 1000
          IDK: 13900
          PAX: 1000
          TUSD: 1000
          USB: 1000
          USDC: 1000
          USDK: 1000
          UST: 1000
          eUSDT: 1000
  low_risk:
      turnover:
          USD: 500000
          EUR: 500000
          AUD: 500000
          GBP: 500000
          BTC: 10
          ETH: 290
          LTC: 2780
          BUSD: 500000
          DAI: 500000
          EURS: 500000
          IDK: 6947370
          PAX: 500000
          TUSD: 500000
          USB: 500000
          USDC: 500000
          USDK: 500000
          UST: 500000
          eUSDT: 500000
      payout:
          USD: 50000
          EUR: 50000
          AUD: 50000
          GBP: 50000
          BTC: 1
          ETH: 30
          LTC: 280
          BUSD: 50000
          DAI: 50000
          EURS: 50000
          IDK: 694740
          PAX: 50000
          TUSD: 50000
          USB: 50000
          USDC: 50000
          USDK: 50000
          UST: 50000
          eUSDT: 50000
      multiplier:
          USD: 2000
          EUR: 2000
          AUD: 2000
          GBP: 2000
          BTC: 0.04
          ETH: 1
          LTC: 11
          BUSD: 2000
          DAI: 2000
          EURS: 2000
          IDK: 27790
          PAX: 2000
          TUSD: 2000
          USB: 2000
          USDC: 2000
          USDK: 2000
          UST: 2000
          eUSDT: 2000
