name: Dependant workflow
run-name: Dependant workflow
on:
  workflow_dispatch:
  push:
    branches:
      - master
    tags:
      - '*'
  # pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  check-git-message:
    runs-on: ubuntu-latest
    steps:
      - name: check git message
        uses: regentmarkets/github-actions/check-git-message@master
  core_syntax_diff:
    needs: check-git-message
    runs-on: ubuntu-latest
    container:
      image: regentmarkets/debian-ci:stable
      credentials:
        username: circle4regentmarkets
        password: ${{ secrets.DOCKER_PASSWORD }}
      options: --user nobody:nogroup
    defaults:
      run:
        shell: bash -le {0}
        working-directory: /home/git/${{github.repository}}
    env:
      LOG_LEVEL: debug
    steps:
      - name: setup CI step
        uses: regentmarkets/github-actions/ci-setup@master
        with:
          read_github_ssh_key: ${{ secrets.READ_GITHUB_SSH_KEY }}
          write_github_ssh_key: ${{ secrets.WRITE_GITHUB_SSH_KEY }}
      - name: Core tests
        run: make test
      - name: unit tests
        run: make unit
      - name: Code structure and syntax
        run: make syntax_diff
