name: Weekly code coverage workflow
run-name: Weekly code coverage workflow
on:
  schedule:
    - cron: '30 7 * * 6'
jobs:
  code_coverage:
    runs-on: ubuntu-latest
    container:
      image: regentmarkets/debian-ci:bullseye-5.38.2-pg14
      credentials:
        username: circle4regentmarkets
        password: ${{ secrets.DOCKER_PASSWORD }}
      options: --user nobody:nogroup
    defaults:
      run:
        shell: bash -le {0}
        working-directory: /home/git/${{ github.repository }}
    env:
      LOG_LEVEL: debug
      RPC_CONFIG: /home/git/regentmarkets/bom-rpc/rpc.conf.travis
      WEBSOCKET_CONFIG: /home/git/regentmarkets/binary-websocket-api/websocket.conf.example
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: setup CI step
        uses: regentmarkets/github-actions/ci-setup@upgrade/perl_5.38.2
        with:
          read_github_ssh_key: ${{ secrets.READ_GITHUB_SSH_KEY }}
          repository: ${{ github.repository }}
      - name: code cover tests
        run: make cover
      - name: schema_suite tests
        run: make cover_websocket_tests sub_test=schema_suite
      - name: security tests
        run: make cover_websocket_tests sub_test=security
      - name: accounts tests
        run: make cover_websocket_tests sub_test=accounts
      - name: misc tests
        run: make cover_websocket_tests sub_test=misc
      - name: p2p tests
        run: make cover_websocket_tests sub_test=p2p
      - name: pricing tests
        run: make cover_websocket_tests sub_test=pricing
      - name: backends tests
        run: make cover_websocket_tests sub_test=backends
      - name: upload coverage report
        run: cover -report coveralls

