name: Weekly code coverage workflow
run-name: Weekly code coverage workflow
on:
  # schedule:
  #   - cron: '10 5 * * 6'
  pull_request:
jobs:
  code_coverage:
    runs-on: ubuntu-latest
    container:
      image: regentmarkets/debian-ci:stable
      credentials:
        username: circle4regentmarkets
        password: ${{ secrets.DOCKER_PASSWORD }}
      options: --user nobody:nogroup
    defaults:
      run:
        shell: bash -le {0}
        working-directory: /home/git/${{github.repository}}
    env:
      LOG_LEVEL: debug
    steps:
      - name: setup CI step
        uses: regentmarkets/github-actions/ci-setup@master
        with:
          read_github_ssh_key: ${{ secrets.READ_GITHUB_SSH_KEY }}
          write_github_ssh_key: ${{ secrets.WRITE_GITHUB_SSH_KEY }}
      - name: code coverage tests
        run: make cover
