[% l("Dear [_1],

We're really glad that you've decided to take up trading with [_2] and we hope that your experience on our platform has been a positive one so far.

We thought we'd drop you a note to let you know that we have received your request for a bonus and your account has been credited with a bonus of [_3][_4]*.

Kind Regards,

[_2]

*Terms and conditions may apply to withdrawals. ([_5])", name, website_name, currency, amount, tac_url) %]
