[% l("Hello [_1],

We received a request to change your password. If it was you, you may reset your password now.

[_2]

Not you? Unsure? Please let us know right away at https://www.binary.com/en/contact.html.

Thank you for trading with us.
Team [_3]", client_name, link, website_name) %]
