[% l("Dear Valued Customer,

Before we can help you change your password, please help us to verify your identity by clicking the link below:

[_1]

If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.

With regards,
Binary.com", link) %]
